<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php echo $title; ?></title>
	<link rel="stylesheet" href="../../../assets/css/style.css">
</head>
<body>
	<div class="header_wrapper">
		<div class="header">
			<div class="header_nav">
				<span class="logo">
					<a href="/">
						<img src="/assets/img/logo.png" alt="">
					</a>
				</span>
				<div class="main_nav">
					<nav class="nav">
						<a href="/services" class="nav_item">Услуги</a>
						<a href="/buses" class="nav_item">Автобусы</a>
						<a href="/minivans" class="nav_item">Микроавтобусы</a>
						<a href="/excursions" class="nav_item">Экскурсии</a>
						<a href="/contacts" class="nav_item">Контакты</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="table_title">
					<p>Трансфер в аэропорт</p>
					<div class="table_line"></div>
					<p>При выборе марки автобуса цена поездки может быть изменена. Предусмотрены скидки</p>
					<p>Круглосуточная подача автобусов и минивэнов в аэропорт для встречи и проводов.  Встреча в аэропорту по номеру рейса с отслеживанием задержки самолета. Дополнительная услуга встреча в аэропорту водителем с табличкой. Поездка в аэропорт обычно оплачивается по фиксированному тарифу. Автобус может забрать всю группу в одном месте или заехать в несколько указанных точек в пределах МКАД. Если требуется подача автобуса на несколько адресов, необходимо об этом сообщить диспетчеру. Возможно диспетчер изменит сумму фиксированного тарифа.</p>
					<p>Поездка в аэропорт цены указаны в рублях</p>
			</div>
	<div class="footer_wrapper">
		<div class="footer">
			<p>© Copyright, 2015 ТК "ТриБас" - Все права защищены.
			</p>
			<p>
			При использовании материалов с сайта ссылка на источник обязательна.
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>