* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }

.header {
  height: 80px;
  font-size: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
  position: relative;
  z-index: 10; }
  .header .header_nav {
    width: 50%;
    display: inline-block;
    font-size: 14px; }
    .header .header_nav .header_nav_list, .header .header_nav .header_nav_content {
      height: 40px;
      margin: 0px 0px;
      width: 100%; }
    .header .header_nav .header_nav_list ul {
      background-color: #3d4a54;
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      color: #fff; }
      .header .header_nav .header_nav_list ul .header_nav_list_item {
        display: inline-block;
        list-style-type: none;
        height: 100%;
        padding: 0px 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header .header_nav .header_nav_list ul .header_nav_list_item a {
          vertical-align: middle;
          display: inline-block;
          text-decoration: none;
          line-height: 40px;
          color: #fff; }
      .header .header_nav .header_nav_list ul .header_nav_list_item:hover {
        background-color: #344047; }
      .header .header_nav .header_nav_list ul .header_nav_list_item.active {
        background-color: #344047; }
    .header .header_nav .header_nav_content {
      background-color: #3d4a54; }
      .header .header_nav .header_nav_content ul .header_nav_content_item {
        display: none;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header .header_nav .header_nav_content ul .header_nav_content_item ul {
          width: 100%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100%; }
        .header .header_nav .header_nav_content ul .header_nav_content_item li {
          display: inline-block;
          list-style-type: none;
          height: 100%;
          padding: 0px 10px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .header .header_nav .header_nav_content ul .header_nav_content_item li a {
            vertical-align: middle;
            display: inline-block;
            text-decoration: none;
            line-height: 40px;
            color: #fff; }
        .header .header_nav .header_nav_content ul .header_nav_content_item li:hover {
          background-color: #344047; }
      .header .header_nav .header_nav_content ul .header_nav_content_item.active {
        display: block;
        background-color: #344047; }
  .header .header_settings {
    width: 50%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, right top, from(#3d4a54), to(#573d4e));
    background: -webkit-linear-gradient(left, #3d4a54, #573d4e);
    background: -o-linear-gradient(left, #3d4a54, #573d4e);
    background: linear-gradient(to right, #3d4a54, #573d4e); }
    .header .header_settings > div, .header .header_settings > p, .header .header_settings > a {
      display: inline-block;
      color: #fff; }
    .header .header_settings .logo {
      height: 100%;
      margin-right: auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 40px;
      font-size: 16px;
      padding: 5px 15px;
      background-color: rgba(255, 255, 255, 0.15);
      margin-right: 20px;
      border-radius: 5px; }
      .header .header_settings .logo img {
        height: 50%;
        display: inline-block; }
      .header .header_settings .logo .logo_text {
        display: inline-block;
        margin-left: 10px; }
        .header .header_settings .logo .logo_text p {
          font-size: 16px; }
          .header .header_settings .logo .logo_text p span {
            font-size: 12px; }
    .header .header_settings > a {
      padding: 5px 15px;
      font-size: 16px;
      text-decoration: none;
      color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      background-color: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin-right: 20px;
      border-radius: 5px; }
    .header .header_settings > a:hover {
      background-color: rgba(255, 255, 255, 0.4); }

.main {
  border: 2px solid #e5e5e5;
  width: 100%;
  position: relative;
  height: 80vh;
  font-size: 0; }

.main_nav {
  display: inline-block;
  border-right: 2px solid #e5e5e5;
  height: 100%;
  position: relative;
  float: left;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 15px; }
  .main_nav .main_nav_list .main_nav_list_title, .main_nav .main_nav_list .main_nav_list_add {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin: 5px	0px;
    display: inline-block;
    font-weight: bold; }
  .main_nav .main_nav_list .main_nav_list_title {
    width: 90%; }
  .main_nav .main_nav_list .main_nav_list_title:hover {
    color: #000; }
  .main_nav .main_nav_list .main_nav_list_add {
    position: absolute;
    right: 0; }
  .main_nav .main_nav_list .main_nav_list_item {
    font-size: 14px;
    margin-left: 20px;
    list-style-type: none;
    display: none;
    margin-bottom: 10px; }
    .main_nav .main_nav_list .main_nav_list_item a {
      color: #3697cd;
      text-decoration: none; }
  .main_nav .main_nav_list.active .main_nav_list_title {
    color: #000; }
  .main_nav .main_nav_list.active .main_nav_list_item {
    display: block; }

.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar {
  background-color: #007bff; }

.mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
  background-color: #e5e5e5; }

#mCSB_2_container {
  margin-right: 10px; }

.content_box {
  display: inline-block;
  position: relative;
  height: 100%;
  width: calc(100% - 300px); }

.main_content {
  height: 100%;
  width: 100%; }
  .main_content .case_groups, .main_content .add_case, .main_content .site_content, .main_content .site_configs {
    position: relative;
    overflow: hidden;
    height: 100%; }
  .main_content .main_content_head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000; }
    .main_content .main_content_head .main_content_head_title {
      font-size: 20px;
      margin-left: 20px; }
    .main_content .main_content_head .buttons {
      background-color: #e8e8e8;
      height: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0px 20px; }
      .main_content .main_content_head .buttons button {
        border: 0px;
        border-radius: 5px;
        margin-left: 10px;
        padding: 5px 10px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        outline: none;
        color: #fff; }
      .main_content .main_content_head .buttons .save {
        background-color: #2ea999; }
      .main_content .main_content_head .buttons .save:hover {
        background-color: rgba(46, 169, 153, 0.8); }
      .main_content .main_content_head .buttons .remove {
        background-color: #bb3d4e; }
      .main_content .main_content_head .buttons .remove:hover {
        background-color: rgba(187, 61, 78, 0.8); }
  .main_content .main_content_info {
    height: 100%;
    padding-top: 50px;
    background-color: #f2f2f2; }
    .main_content .main_content_info form {
      padding-top: 5px;
      background-color: #fff;
      width: calc(100% - 40px);
      margin: 10px 20px;
      margin-top: 0;
      padding-bottom: 30px;
      border-radius: 0px 0px 5px 5px;
      -webkit-box-shadow: 0px 0px 10px #000;
      box-shadow: 0px 0px 10px #000; }
      .main_content .main_content_info form .form_title {
        font-size: 18px;
        text-align: center;
        margin: 20px; }
      .main_content .main_content_info form .forma_group {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 20px; }
        .main_content .main_content_info form .forma_group > p {
          font-size: 16px;
          width: 20%; }
        .main_content .main_content_info form .forma_group .forma_group_item {
          width: 85%;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .main_content .main_content_info form .forma_group .forma_group_item select, .main_content .main_content_info form .forma_group .forma_group_item input, .main_content .main_content_info form .forma_group .forma_group_item textarea {
            width: 100%;
            height: 30px;
            padding: 2px 7px;
            border-radius: 5px;
            border: 0;
            outline: 0;
            display: inline-block;
            background-color: #f2f2f2;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
          .main_content .main_content_info form .forma_group .forma_group_item textarea {
            height: 100px;
            resize: none; }
          .main_content .main_content_info form .forma_group .forma_group_item select option {
            background-color: transparent; }
          .main_content .main_content_info form .forma_group .forma_group_item select:focus, .main_content .main_content_info form .forma_group .forma_group_item input:focus, .main_content .main_content_info form .forma_group .forma_group_item textarea:focus {
            border: 2px solid #b5eae0;
            -webkit-box-shadow: 0px 0px 5px 1px #b5eae0;
            box-shadow: 0px 0px 5px 1px #b5eae0; }
          .main_content .main_content_info form .forma_group .forma_group_item input[type=file] {
            border: 0px; }
          .main_content .main_content_info form .forma_group .forma_group_item p {
            font-size: 14px;
            margin-top: 7px;
            color: rgba(0, 0, 0, 0.4); }
          .main_content .main_content_info form .forma_group .forma_group_item.text_btn input {
            width: 90%; }
          .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns {
            width: 10%;
            font-size: 20px;
            display: inline-block;
            padding-left: 10px; }
            .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next, .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev {
              border: 20px solid transparent;
              width: 0;
              height: 0;
              position: relative;
              cursor: pointer; }
              .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next p, .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev p {
                position: absolute;
                font-size: 20px;
                width: 40px;
                text-align: center; }
            .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next {
              border-bottom: 20px solid #e5e5e5;
              margin-bottom: 5px; }
              .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next p {
                -webkit-transform: translate(-50%, -25%);
                -ms-transform: translate(-50%, -25%);
                transform: translate(-50%, -25%); }
            .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev {
              margin-top: 5px;
              border-top: 20px solid #e5e5e5; }
              .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev p {
                -webkit-transform: translate(-50%, -150%);
                -ms-transform: translate(-50%, -150%);
                transform: translate(-50%, -150%); }
          .main_content .main_content_info form .forma_group .forma_group_item.checkbox {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
            .main_content .main_content_info form .forma_group .forma_group_item.checkbox input {
              width: 20%; }
          .main_content .main_content_info form .forma_group .forma_group_item button {
            border: 1px solid #007bff;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: #fbfbfb;
            cursor: pointer;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            outline: none; }
          .main_content .main_content_info form .forma_group .forma_group_item button:hover {
            background-color: #007bff; }

.footer {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  height: 50px; }

.popup__message {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999; }
  .popup__message .message {
    width: 220px;
    height: 80px;
    margin: 10px 15px;
    border-radius: 5px; }
    .popup__message .message span {
      display: block;
      position: relative;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      text-align: center;
      font-size: 20px; }
    .popup__message .message.good {
      background-color: rgba(0, 255, 0, 0.6); }
    .popup__message .message.bad {
      background-color: rgba(255, 0, 0, 0.6); }
    .popup__message .message.common {
      background-color: rgba(128, 128, 128, 0.6); }

.loader_box {
  background: rgba(34, 34, 34, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .loader_box .loader {
    width: 350px;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .loader_box.hide {
    display: none; }
  .loader_box .element_box {
    display: inline-block;
    padding: 0px 5px; }
    .loader_box .element_box:nth-of-type(1) .element {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .loader_box .element_box:nth-of-type(2) .element {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .loader_box .element_box:nth-of-type(3) .element {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .loader_box .element_box:nth-of-type(4) .element {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .loader_box .element_box:nth-of-type(5) .element {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .loader_box .element_box:nth-of-type(6) .element {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .loader_box .element_box:nth-of-type(7) .element {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s; }
    .loader_box .element_box:nth-of-type(8) .element {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .loader_box .element_box:nth-of-type(9) .element {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
    .loader_box .element_box:nth-of-type(10) .element {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    .loader_box .element_box:nth-of-type(11) .element {
      -webkit-animation-delay: 1.1s;
      animation-delay: 1.1s; }
    .loader_box .element_box .element {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #36b;
      -webkit-animation: pulse 1.5s infinite;
      animation: pulse 1.5s infinite;
      -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.75; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.75; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
