				<div class="main_nav">
					<nav class="nav">
						<div class="nav_item">
							<a href="/services" >Услуги</a>
							<div class="subnav">
								<a href="/services/page/1">Автобус на свадьбу</a>
								<a href="/services/page/2">Автобус в аэропорт</a>
								<a href="/services/page/3">Автобус межгород</a>
								<a href="/services/page/4">Срочный заказ автобуса</a>
								<a href="/services/page/5">Поездка до границы Украины и обратно</a>
								<a href="/services/page/6">Список документов для заказных автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/buses" class="">Автобусы</a>
							<div class="subnav">
								<a href="/buses/page/1">Заказ автобуса 28 мест</a>
								<a href="/buses/page/2">Заказ автобуса 30,32 места</a>
								<a href="/buses/page/3">Заказ автобуса 42-45 мест</a>
								<a href="/buses/page/4">Заказ автобуса 50 мест</a>
								<a href="/buses/page/5">Заказ автобуса 54-59 мест</a>
								<a href="/buses/page/6">Каталог автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/minivans" class="">Микроавтобусы</a>
							<div class="subnav">
								<a href="/minivans/page/5">Минивэн 6 мест</a>
								<a href="/minivans/page/1">Заказ микроавтобуса 7-8 мест</a>
								<a href="/minivans/page/2">Заказ микроавтобуса 10-12 мест</a>
								<a href="/minivans/page/3">Заказ микроавтобуса 18-20 мест</a>
								<a href="/minivans/page/4">Заказ микроавтобуса 26 мест</a>
							</div>
						</div>
						<div class="nav_item">	
							<a href="/excursions" class="">Экскурсии</a>
							<div class="subnav">
								<a href="/excursions/page/1">Обзорные экскурсии по Москве</a>
								<a href="/excursions/page/2">Индивидуальная экскурсия по ночной Москве</a>
								<a href="/excursions/page/3">Автотур в Санкт-Петербург, Великий Новгород, Тверь</a>
								<a href="/excursions/page/4">Автобусный тур по "Золотому кольцу России"</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/contacts" class="">Контакты</a>
						</div>
					</nav>
				</div>