				<div class="main_nav">
					<div class="burger">
						<span></span>
					</div>
					<nav class="nav">
						<div class="nav_item">
							<a href="/uslugi" >Услуги</a>
							<div class="subnav">
								<a href="/uslugi/obslujivanie_svadeb">Автобус на свадьбу</a>
								<a href="/uslugi/zakaz_avtobusa_v_aeroport">Автобус в аэропорт</a>
								<a href="/uslugi/mejgorod">Автобус межгород</a>
								<a href="/uslugi/zakaz_avtobusa_po_vashey_tsene">Срочный заказ автобуса</a>
								<a href="/uslugi/poezdka_do_granitsyi_ukrainyi">Поездка до границы Украины и обратно</a>
								<a href="/uslugi/spisok_dokumentov">Список документов для заказных автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/avtobusy" class="">Автобусы</a>
							<div class="subnav">
								<a href="/avtobusy/Hyundai_County">Заказ автобуса 28 мест</a>
								<a href="/avtobusy/avtobus_31_mesto">Заказ автобуса 30,32 места</a>
								<a href="/avtobusy/1820_mest">Заказ автобуса 42-45 мест</a>
								<a href="/avtobusy/50_mest">Заказ автобуса 50 мест</a>
								<a href="/avtobusy/avtobus_5560_mest">Заказ автобуса 54-59 мест</a>
								<a href="/avtobusy/katalog_avtobusov">Каталог автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/mikroavtobusy" class="">Микроавтобусы</a>
							<div class="subnav">
								<a href="/mikroavtobusy/miniven_6_mest">Минивэн 6 мест</a>
								<a href="/mikroavtobusy/miniven_8_mest">Заказ микроавтобуса 7-8 мест</a>
								<a href="/mikroavtobusy/miniven_11_mest">Заказ микроавтобуса 10-12 мест</a>
								<a href="/mikroavtobusy/mikroavtobus_18__20_mest">Заказ микроавтобуса 18-20 мест</a>
								<a href="/mikroavtobusy/mikroavtobus_26_mest">Заказ микроавтобуса 26 мест</a>
							</div>
						</div>
						<div class="nav_item">	
							<a href="/avtobusnyie_ekskursii" class="">Экскурсии</a>
							<div class="subnav">
								<a href="/avtobusnyie_ekskursii/obzornyie_ekskursii_v_moskve">Обзорные экскурсии по Москве</a>
								<a href="/avtobusnyie_ekskursii/individualnaya_avtobusnaya_ekskursiya">Индивидуальная экскурсия по ночной Москве</a>
								<a href="/avtobusnyie_ekskursii/avtobusnaya_ekskursiya_v_piter">Автотур в Санкт-Петербург, Великий Новгород, Тверь</a>
								<a href="/avtobusnyie_ekskursii/avtotur_po_zolotomu_koltsu">Автобусный тур по "Золотому кольцу России"</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/contacts" class="">Контакты</a>
						</div>
					</nav>
				</div>