		<div class="main_courusel_wrapper">
			<div class="main_courusel">
				<div class="main_courusel_items">
					<div class="main_courusel_item">
						<div class="data">buses/page/1</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/main/28_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>28 Мест</p>
							</div>
						</div>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/2</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/main/31_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>31 Место</p>
							</div>
						</div>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/3</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/main/48_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>48 Мест</p>
							</div>
						</div>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/4</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/main/50_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>50 Мест</p>
							</div>
						</div>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/5</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/main/54_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>54 Места</p>
							</div>
						</div>
					</div>
				</div>
				<div class="next"><img src="/assets/img/main/next.png" alt=""></div>
				<div class="back"><img src="/assets/img/main/back.png" alt=""></div>
			</div>	
			<div class="main_courusel_prises">
			<a href=""><p>Тарифы</p></a>
			</div>
		</div>