		<div class="main_courusel_wrapper">
			<div class="main_courusel">
				<div class="main_courusel_items">
					<div class="main_courusel_item">
						<div class="data">minivans/page/1</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/6_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>6 Мест</p>
							</div>
						</div>
						<a href="minivans/page/1"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">minivans/page/2</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/7-8_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>7-8 Мест</p>
							</div>
						</div>
						<a href="minivans/page/2"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">minivans/page/3</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/10-12_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>10-12 Мест</p>
							</div>
						</div>
						<a href="minivans/page/3"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">minivans/page/4</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/18-20_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>18-20 Мест</p>
							</div>
						</div>
						<a href="minivans/page/4"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">minivans/page/5</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/26_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>26 Мест</p>
							</div>
						</div>
						<a href="minivans/page/5"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/1</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/28_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>28 Мест</p>
							</div>
						</div>
						<a href="buses/page/1"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/2</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/30-32_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>30,32 Места</p>
							</div>
						</div>
						<a href="buses/page/2"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/3</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/42-45_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>42-45 Мест</p>
							</div>
						</div>
						<a href="buses/page/3"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/4</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/50_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>50 Мест</p>
							</div>
						</div>
						<a href="buses/page/4"></a>
					</div>
					<div class="main_courusel_item">
						<div class="data">buses/page/5</div>
						<div class="main_courusel_item_img">
							<img src="/assets/img/slick/54-59_mest.png" alt="">
							<div class="main_courusel_item_text">
								<p>54-59 Мест</p>
							</div>
						</div>
						<a href="buses/page/5"></a>
					</div>
				</div>
				<div class="next"><img src="/assets/img/static/next.png" alt=""></div>
				<div class="back"><img src="/assets/img/static/back.png" alt=""></div>
			</div>	
			<div class="main_courusel_prises">
			<a href=""><p>Тарифы</p></a>
			</div>
		</div>