<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css" />
	<title>Admin</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="header_nav" id="tabs">
				<div class="header_nav_list">
					<ul>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
					</ul>
				</div>
				<div class="header_nav_content">
					<ul>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
							</ul>
						</li>
					</ul>	
				</div>
			</div>
			<div class="header_settings">
				<div class="logo">
					<img src="images/logo.png" alt="">
					<div class="logo_text">
						<p>prostoCRM</p>
						<p><span>Version 0.1</span></p>
					</div>
				</div>
				<p class="name">Admin </p>
				<a href="admin/settings" class="settings">Настройки</a>
				<a href="admin/logaut" class="logaut">Выход</a><a href=""></a>
			</div>
		</div>
		<div class="main_wrapper">
			<div class="main">
				<div class="main_nav">
					<ul class="main_nav_list" id="main_nav_list">
						<a class="main_nav_list_title" href="#">Раздел</a>
						<li class="main_nav_list_item"><a href="">Подраздел 1</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 2</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 3</a></li>
					</ul>
					<ul class="main_nav_list" id="main_nav_list">
						<a class="main_nav_list_title" href="#">Раздел 2</a>
						<li class="main_nav_list_item"><a href="">Подраздел 1</a></li>
						<li class="main_nav_list_item"> <a href="">Подраздел 2</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 3</a></li>
					</ul>
					<ul class="main_nav_list" id="main_nav_list">
						<a class="main_nav_list_title" href="#">Раздел 3</a>
						<li class="main_nav_list_item"><a href="">Подраздел 1</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 2</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 3</a></li>
					</ul>
				</div>
				<div class="main_content">
					<!-- <div class="case_groups">
						<div class="main_content_head">
							<p class="main_content_head_title">Case Groups</p>
							<div class="buttons">
								<button class="save">Save</button>
								<button class="remove">Remove</button>
							</div>
						</div>
						<div class="main_content_info">
							<form action="	">
								<div class="forma_group">
									<p>Тип</p>
									<div class="forma_group_item select">
										<select name="type">
											<option value="1">Значение 1</option>
											<option value="2">Значение 2</option>
											<option value="3">Значение 3</option>
										</select>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Название</p>
									<div class="forma_group_item text">
										<input type="text" name="name" placeholder="name">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Номер по порядку</p>
									<div class="forma_group_item text_btn">
										<input type="text" name="serial_number" placeholder="serial_number">
										<div class="text_btns">
											<div class="btn_next"><p>+</p></div>
											<div class="btn_prev"><p>-</p></div>
										</div>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
						</div>
					</div> -->
					<div class="add_case">
						<div class="main_content_head">
							<p class="main_content_head_title">Add Case</p>
							<div class="buttons">
								<button class="save">Save</button>
								<button class="remove">Remove</button>
							</div>
						</div>
						<div class="main_content_info">
							<form action="	" class="general">
								<p class="form_title">Общие</p>
								<div class="forma_group">
									<p>Группа</p>
									<div class="forma_group_item select">
										<select name="group" >
											<option value="1">Значение 1</option>
											<option value="2">Значение 2</option>
											<option value="3">Значение 3</option>
										</select>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Название</p>
									<div class="forma_group_item text">
										<input type="text" name="name" placeholder="name">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Номер по порядку</p>
									<div class="forma_group_item text_btn">
										<input type="text" name="serial_number" placeholder="serial_number">
										<div class="text_btns">
											<div class="btn_next"><p>+</p></div>
											<div class="btn_prev"><p>-</p></div>
										</div>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="	" class="menu">
								<p class="form_title">Menu</p>
								<div class="forma_group">
									<p>Заголовок</p>
									<div class="forma_group_item text">
										<input type="text" name="menu_title" placeholder="menu_title">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Количество направлений</p>
									<div class="forma_group_item text">
										<input type="text" name="dirs_number" placeholder="dirs_number">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка (ПК)</p>
									<div class="forma_group_item file">
										<input type="file" name="des_image" placeholder="des_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка (Телефон)</p>
									<div class="forma_group_item file">
										<input type="file" name="mob_image" placeholder="mob_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка (Планшет)</p>
									<div class="forma_group_item file">
										<input type="file" name="tab_image" placeholder="tab_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Одна картинка для всех</p>
									<div class="forma_group_item checkbox">
										<input type="checkbox" name="all_image" placeholder="all_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="	" class="page">
								<p class="form_title">Page</p>
								<div class="forma_group">
									<p>Заголовок главного блока</p>
									<div class="forma_group_item text">
										<input type="text" name="main_block_title" placeholder="main_block_title">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Текст главного блока</p>
									<div class="forma_group_item text">
										<input type="text" name="main_block_text" placeholder="main_block_text">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка главного блока</p>
									<div class="forma_group_item file">
										<input type="file" name="main_block_image" placeholder="main_block_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Заголовок блока 2</p>
									<div class="forma_group_item text">
										<input type="text" name="block_2_title" placeholder="block_2_title">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Текст блока 2</p>
									<div class="forma_group_item text">
										<input type="text" name="block_2_text" placeholder="block_2_text">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка блока 2</p>
									<div class="forma_group_item file">
										<input type="file" name="block_2_image" placeholder="block_2_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Заголовок блока 3</p>
									<div class="forma_group_item text">
										<input type="text" name="block_3_title" placeholder="block_3_title">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Текст блока 3</p>
									<div class="forma_group_item text">
										<input type="text" name="block_3_text" placeholder="block_3_text">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка блока 3</p>
									<div class="forma_group_item file">
										<input type="file" name="block_3_image" placeholder="block_3_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Заголовок блока 4</p>
									<div class="forma_group_item text">
										<input type="text" name="block_4_title" placeholder="block_4_title">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Текст блока 4</p>
									<div class="forma_group_item text">
										<input type="text" name="block_4_text" placeholder="block_4_text">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка блока 4 один</p>
									<div class="forma_group_item file">
										<input type="file" name="block_4_image1" placeholder="block_4_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Картинка блока 4 два</p>
									<div class="forma_group_item file">
										<input type="file" name="block_4_image2" placeholder="block_4_image">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Заголовок для визы</p>
									<div class="forma_group_item text">
										<input type="text" name="visa_title" placeholder="visa_title">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- <div class="site_content">
						<div class="main_content_head">
							<p class="main_content_head_title">Site Content	</p>
							<div class="buttons">
								<button class="save">Save</button>
							</div>
						</div>
						<div class="main_content_info">
							<form action="	">
								<p class="form_title">Контакты</p>
								<div class="forma_group">
									<p>Адрес</p>
									<div class="forma_group_item text">
										<input type="text" name="addr" placeholder="addr">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Телефон мобильный</p>
									<div class="forma_group_item text">
										<input type="text" name="mob_phone" placeholder="mob_phone">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Телефон городской</p>
									<div class="forma_group_item text">
										<input type="text" name="city_phone" placeholder="city_phone">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Телефон справочная (800)</p>
									<div class="forma_group_item text">
										<input type="text" name="ref_phone" placeholder="ref_phone">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="	">
								<p class="form_title">Почта</p>
								<div class="forma_group">
									<p>Почта для заказов</p>
									<div class="forma_group_item text">
										<input type="text" name="send_mail" placeholder="send_mail">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Почта для связи</p>
									<div class="forma_group_item text">
										<input type="text" name="info_mail" placeholder="info_mail">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="	">
								<p class="form_title">Банковские реквизиты</p>
								<div class="forma_group">
									<p>Банк [TIN/CAT]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_tincat" placeholder="bank_tincat">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Банк [что-то]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_state_number" placeholder="bank_state_number">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Банк [что-то]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_checking_account" placeholder="bank_checking_account">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Банк [Название]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_name" placeholder="bank_name">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Банк [Корреспондентский счёт]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_corr_account" placeholder="bank_corr_account">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Банк [Номер]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_id" placeholder="bank_id">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Банк [Директор(ФИО)]</p>
									<div class="forma_group_item text">
										<input type="text" name="bank_seo" placeholder="bank_seo">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="">
								<p class="form_title">Другое</p>
								<div class="forma_group">
									<p>Подпись</p>
									<div class="forma_group_item text">
										<input type="text" name="footer_sign" placeholder="footer_sign">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
						</div>
					</div> -->
					<!-- <div class="site_configs">
						<div class="main_content_head">
							<p class="main_content_head_title">Site configs</p>
						</div>
						<div class="main_content_info">
							<form action="	">
								<div class="forma_group">
									<p>Открыт</p>
									<div class="forma_group_item checkbox">
										<input type="checkbox" name="work" placeholder="work" checked>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="	">
								<p class="form_title">Change pass</p>
								<div class="forma_group">
									<p>Старый пароль</p>
									<div class="forma_group_item text">
										<input type="text" name="old1" placeholder="old1">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Новый пароль 1</p>
									<div class="forma_group_item text">
										<input type="text" name="new1" placeholder="new1">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Новый пароль 2</p>
									<div class="forma_group_item text">
										<input type="text" name="new2" placeholder="new2">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Изменить</p>
									<div class="forma_group_item text">
										<button name="btn_changePass">Изменить</button>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Сгенерировать пароль</p>
									<div class="forma_group_item text">
										<button name="btn_gen">Сгенерировать пароль</button>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
							<form action="	" class="change_email">
								<p class="form_title">Change email</p>
								<div class="forma_group">
									<p>E-mail</p>
									<div class="forma_group_item text">
										<input type="text" name="mail" placeholder="mail">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Изменить</p>
									<div class="forma_group_item text">
										<button name="btn_changeMail">Изменить</button>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="footer">
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.js"></jquery>"></script>
	<script src="js/script.js"></script>
</body>
</html>