<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css" />
	<title>Admin</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="header_nav" id="tabs">
				<div class="header_nav_list">
					<ul>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
						<li class="header_nav_list_item"><a href="#">Navigation</a></li>
					</ul>
				</div>
				<div class="header_nav_content">
					<ul>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
								<li><a href="#">Content1</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
								<li><a href="#">Content2</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
								<li><a href="#">Content3</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
								<li><a href="#">Content4</a></li>
							</ul>
						</li>
						<li class="header_nav_content_item">
							<ul>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
								<li><a href="#">Content5</a></li>
							</ul>
						</li>
					</ul>	
				</div>
			</div>
			<div class="header_settings">
				<div class="logo">
					<img src="images/logo.png" alt="">
					<div class="logo_text">
						<p>prostoCRM</p>
						<p><span>Version 0.1</span></p>
					</div>
				</div>
				<p class="name">Admin </p>
				<a href="admin/settings" class="settings">Настройки</a>
				<a href="admin/logaut" class="logaut">Выход</a><a href=""></a>
			</div>
		</div>
		<div class="main_wrapper">
			<div class="main">
				<div class="main_nav">
					<ul class="main_nav_list" id="main_nav_list">
						<a class="main_nav_list_title" href="#">Раздел</a>
						<li class="main_nav_list_item"><a href="">Подраздел 1</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 2</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 3</a></li>
					</ul>
					<ul class="main_nav_list" id="main_nav_list">
						<a class="main_nav_list_title" href="#">Раздел 2</a>
						<li class="main_nav_list_item"><a href="">Подраздел 1</a></li>
						<li class="main_nav_list_item"> <a href="">Подраздел 2</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 3</a></li>
					</ul>
					<ul class="main_nav_list" id="main_nav_list">
						<a class="main_nav_list_title" href="#">Раздел 3</a>
						<li class="main_nav_list_item"><a href="">Подраздел 1</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 2</a></li>
						<li class="main_nav_list_item"><a href="">Подраздел 3</a></li>
					</ul>
				</div>
				<div class="main_content">
					<div class="case_groups">
						<div class="main_content_head">
							<p class="main_content_head_title">Case Groups</p>
							<div class="buttons">
								<button class="save">Save</button>
								<button class="remove">Remove</button>
							</div>
						</div>
						<div class="main_content_info">
							<form action="	">
								<div class="forma_group">
									<p>Тип</p>
									<div class="forma_group_item select">
										<select name="type">
											<option value="1">Значение 1</option>
											<option value="2">Значение 2</option>
											<option value="3">Значение 3</option>
										</select>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Название</p>
									<div class="forma_group_item text">
										<input type="text" name="name">
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
								<div class="forma_group">
									<p>Номер по порядку</p>
									<div class="forma_group_item text_btn">
										<input type="text" name="serial_number">
										<div class="text_btns">
											<div class="btn_next"><p>+</p></div>
											<div class="btn_prev"><p>-</p></div>
										</div>
										<p class="forma_group_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis beatae cumque nulla explicabo eos, similique consectetur, iste ab adipisci atque.</p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.js"></jquery>"></script>
	<script src="js/script.js"></script>
</body>
</html>