* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }

.header, .main_wrapper, .footer {
  margin: 0px 2%; }

.header {
  height: 100px;
  margin-top: 7.5px;
  border-right: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  padding: 0px 5px;
  font-size: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .header_nav {
    width: 50%;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #e5e5e5; }
    .header .header_nav .header_nav_list, .header .header_nav .header_nav_content {
      height: 40px;
      margin: 0px 0px;
      width: 100%; }
    .header .header_nav .header_nav_list ul {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
      .header .header_nav .header_nav_list ul .header_nav_list_item {
        display: inline-block;
        list-style-type: none;
        height: 100%;
        padding: 0px 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header .header_nav .header_nav_list ul .header_nav_list_item a {
          vertical-align: middle;
          display: inline-block;
          color: #000;
          text-decoration: none;
          line-height: 40px; }
      .header .header_nav .header_nav_list ul .header_nav_list_item:hover {
        background-color: #b5eae0; }
      .header .header_nav .header_nav_list ul .header_nav_list_item.active {
        background-color: #b5eae0; }
    .header .header_nav .header_nav_content ul .header_nav_content_item {
      display: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header .header_nav .header_nav_content ul .header_nav_content_item ul {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%; }
      .header .header_nav .header_nav_content ul .header_nav_content_item li {
        display: inline-block;
        list-style-type: none;
        height: 100%;
        padding: 0px 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .header .header_nav .header_nav_content ul .header_nav_content_item li a {
          vertical-align: middle;
          display: inline-block;
          color: #000;
          text-decoration: none;
          line-height: 40px; }
      .header .header_nav .header_nav_content ul .header_nav_content_item li:hover {
        background-color: #b5eae0; }
    .header .header_nav .header_nav_content ul .header_nav_content_item.active {
      display: block;
      background-color: #b5eae0; }
  .header .header_settings {
    width: 50%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .header_settings > div, .header .header_settings > p, .header .header_settings > a {
      display: inline-block; }
    .header .header_settings .logo {
      height: 100%;
      margin-right: auto;
      margin: 0px 0px 7.5px 0px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .header_settings .logo img {
        height: 50%;
        display: inline-block; }
      .header .header_settings .logo .logo_text {
        display: inline-block;
        margin-left: 10px; }
        .header .header_settings .logo .logo_text p {
          font-size: 16px; }
          .header .header_settings .logo .logo_text p span {
            font-size: 12px; }
    .header .header_settings .name {
      font-size: 16px;
      padding: 15px; }
    .header .header_settings > a {
      padding: 15px;
      font-size: 16px;
      text-decoration: none;
      color: #000;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .header .header_settings > a:hover {
      background-color: #b5eae0; }

.main {
  border: 2px solid #e5e5e5;
  width: 100%;
  position: relative;
  height: 80vh;
  font-size: 0; }

.main_nav {
  display: inline-block;
  border-right: 2px solid #e5e5e5;
  height: 100%;
  position: relative;
  float: left;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 15px; }
  .main_nav .main_nav_list .main_nav_list_title {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    margin: 5px	0px;
    display: block; }
  .main_nav .main_nav_list .main_nav_list_item {
    font-size: 14px;
    margin-left: 20px;
    list-style-type: none;
    display: none;
    margin-bottom: 10px; }
    .main_nav .main_nav_list .main_nav_list_item a {
      color: #000;
      text-decoration: none; }
  .main_nav .main_nav_list.active .main_nav_list_item {
    display: block; }

.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar {
  background-color: #007bff; }

.mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
  background-color: #e5e5e5; }

#mCSB_2_container {
  margin-right: 10px; }

.main_content {
  display: inline-block;
  position: relative;
  height: 100%;
  width: calc(100% - 250px); }
  .main_content .main_content_head {
    border-bottom: 2px solid #e5e5e5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 20px; }
    .main_content .main_content_head .main_content_head_title {
      font-size: 20px; }
    .main_content .main_content_head .buttons button {
      border: 1px solid #007bff;
      border-radius: 5px;
      margin-left: 10px;
      padding: 5px 10px;
      background-color: #f3f6fa;
      cursor: pointer; }
  .main_content .main_content_info form .forma_group:nth-child(even) {
    background-color: #f3f6fa; }
  .main_content .main_content_info form .forma_group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px; }
    .main_content .main_content_info form .forma_group p {
      font-size: 16px; }
    .main_content .main_content_info form .forma_group .forma_group_item {
      width: 80%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .main_content .main_content_info form .forma_group .forma_group_item select, .main_content .main_content_info form .forma_group .forma_group_item input {
        width: 100%;
        height: 30px;
        padding: 0px 7px;
        border-radius: 5px;
        border: 2px solid #e5e5e5;
        outline: 0;
        display: inline-block; }
      .main_content .main_content_info form .forma_group .forma_group_item select option {
        background-color: transparent; }
      .main_content .main_content_info form .forma_group .forma_group_item select:focus, .main_content .main_content_info form .forma_group .forma_group_item input:focus {
        border: 2px solid #b5eae0;
        -webkit-box-shadow: 0px 0px 5px 1px #b5eae0;
        box-shadow: 0px 0px 5px 1px #b5eae0; }
      .main_content .main_content_info form .forma_group .forma_group_item p {
        font-size: 14px;
        margin-top: 7px; }
      .main_content .main_content_info form .forma_group .forma_group_item.text_btn input {
        width: 90%; }
      .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns {
        width: 10%;
        font-size: 20px;
        display: inline-block;
        padding-left: 10px; }
        .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next, .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev {
          border: 20px solid transparent;
          width: 0;
          height: 0;
          position: relative;
          cursor: pointer; }
          .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next p, .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev p {
            position: absolute;
            font-size: 20px;
            width: 40px;
            text-align: center; }
        .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next {
          border-bottom: 20px solid #e5e5e5;
          margin-bottom: 5px; }
          .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_next p {
            -webkit-transform: translate(-50%, -25%);
            -ms-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%); }
        .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev {
          margin-top: 5px;
          border-top: 20px solid #e5e5e5; }
          .main_content .main_content_info form .forma_group .forma_group_item.text_btn .text_btns .btn_prev p {
            -webkit-transform: translate(-50%, -150%);
            -ms-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%); }

.footer {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  height: 50px; }
