<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/js/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/js/slick/slick-theme.css">
	<link rel="shortcut icon" href="../../../assets/img/static/favicon.png" type="image/png">
</head>
<body>
	<div class="header_wrapper">
		<div class="header">
			<div class="header_nav">
				<span class="logo">
					<a href="/">
						<img src="../../../assets/img/static/logo.png" alt="">
					</a>
				</span>
				<div class="main_nav">
					<nav class="nav">
						<div class="nav_item">
							<a href="/services" >Услуги</a>
							<div class="subnav">
								<a href="#">Автобус на свадьбу</a>
								<a href="#">Автобус в аэропорт</a>
								<a href="#">Автобус межгород</a>
								<a href="#">Срочный заказ автобуса</a>
								<a href="#">Поездка до границы Украины и обратно</a>
								<a href="#">Список документов для заказных автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/buses" class="">Автобусы</a>
							<div class="subnav">
								<a href="#">Заказ автобуса 28 мест</a>
								<a href="#">Заказ автобуса 30,32 места</a>
								<a href="#">Заказ автобуса 42-45 мест</a>
								<a href="#">Заказ автобуса 50 мест</a>
								<a href="#">Заказ автобуса 54-59 мест</a>
								<a href="#">Заказ автобуса 74 места</a>
								<a href="#">Каталог автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/minivans" class="">Микроавтобусы</a>
							<div class="subnav">
								<a href="#">Заказ микроавтобуса 7-8 мест</a>
								<a href="#">Заказ микроавтобуса 10-12 мест</a>
								<a href="#">Заказ микроавтобуса 18-20 мест</a>
								<a href="#">Заказ микроавтобуса 26 мест</a>
								<a href="#">Минивэн 6 мест</a>
							</div>
						</div>
						<div class="nav_item">	
							<a href="/excursions" class="">Экскурсии</a>
							<div class="subnav">
								<a href="#">Обзорные экскурсии по Москве</a>
								<a href="#">Индивидуальная экскурсия по ночной Москве</a>
								<a href="#">Автотур в Санкт-Петербург, Великий Новгород, Тверь</a>
								<a href="#">Автобусный тур по "Золотому кольцу России"</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/contacts" class="">Контакты</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="text_wrapper">
			<p class="text_title">Список документов для заказных автобусов.</p>
			<div class="main_line"></div>
			<div class="text">
				<h1>Актуальный пакет документов для осуществления пассажирских перевозок от 8 мест заказным транспортом (2016 год).</h1>
				<ul>
					<li>путевой лист</li>
					<li>диагностическая карта ТС</li>
					<li>страховка пассажирских мест</li>
					<li>страховка ОСАГО</li>
					<li>список пассажиров (И.Ф.О. телефоны, адреса,для детей,даты рождения)</li>
					<li>договор фрахтования или аренды ТС</li>
					<li>схема маршрута</li>
					<li>копия трудового договора с водителем</li>
					<li>уведомление о начале предпринимательской деятельности (для ЮЛ в УГАДН)</li>
					<li>копия выписки из ЕГРЮЛ</li>
				</ul>
				<p>Дополнительно заключается договор с заказчиком о предоставлении транспортных услуг с приложением о правилах поведения в автобусе.</p>
				<h2>Нарушения правил перевозки влекушие наложения штрафных санкций.</h2>
				<ul>
					<li>Автобус не оснащен тахогрофом или аппаратурой спутниковой навигации ГЛОНАСС.</li>
					<li>Возраст автобуса более 10 лет (планируется вступление в силу в течении 2017 года).</li>
					<li>Водитель имеет стаж работы водителем категории D менее одного года за последние три года.</li>
					<li>Водитель не прошел предрейсовый инструктаж по безопасности перевозки детей.</li>
					<li>Водитель в течение последнего года имеет нарушения ПДД, за которые предусмотрено лишения прав или арест.</li>
					<li>Водитель не прошел медосмотр.</li>
					<li>Отсутствует договор фрахтования.</li>
					<li>Отсутствует список детей.</li>
					<li>Отсуствуеет схема маршрута.</li>
					<li>Отсутствует список сопровождающих.</li>
				</ul>
				<h2>Штрафы</h2>
					<ul>
						<li>3 000 рублей - для водителя.</li>
						<li>25 000 рублей - для должностного лица, ответственного за превозку.</li>
						<li>100 000 рублей - для юридического лица или ИП (перевозчика).</li>
					</ul>
			</div>
	</div>
	</div>
	<div class="footer_wrapper">
		<div class="footer">
			<p>© Copyright, 2015 ТК "ТриБас" - Все права защищены.
			</p>
			<p>
			При использовании материалов с сайта ссылка на источник обязательна.
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/slick/slick.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>