/*ПЕРЕМЕННЫЕ */
$blue: #0d5899
$lightblue: #148fcb
$black: #1a1a1a
$gray: #f3f6fa
$darkgrey: #999999
$regular: 400
$medium: 500
$semibold: 600
$gradient: linear-gradient(90deg, $blue, $lightblue)
$gradient_two: linear-gradient(180deg, $blue, $lightblue)
/*ПЕРЕМЕННЫЕ КОНЕЦ*/

/*ХЕДЕР-ФУТЕР*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600')
*
	box-sizing: border-box
	padding: 0
	margin: 0
	font-family: 'Fira Sans', sans-serif 
a 
	text-decoration: none
.header_wrapper 
	width: 100%
	background: $blue
.header 
	margin: 0px 18.75% 0px  18.75%
	height: 130px
.header_nav 
	height: 130px
	font-size: 0px
.logo
	display: inline-block
	width: 23.33%
	height: 130px
.logo img
	width: 100%
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
.main_nav
	display: inline-block
	width: 76.67%
	font-size: 0px
	height: 100%
	vertical-align: top
.nav
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-end
	align-items: center
	height: 100%
	right: -30px
	position: relative

.nav_item 
	color: #fff
	display: block
	padding: 10px 3.5%
.nav_item:hover .subnav
	display: block	
.nav_item:hover
	background-color: $lightblue
	border-radius: 5px
.subnav
	display: none
	position: absolute
	top: calc(50% + 20px)
	background-color: $lightblue
	font-size: 20px
	z-index: 10
	list-style-type: none
	border-radius: 5px
	margin-left: -3.5%
	padding: 15px 15px 15px 15px
	font-weight: $medium
.subnav a
	padding: 15px 15px 15px 15px
	color: #fff
	width: 100%
	height: 100%
	display: block
.subnav a:hover
	background-color: $blue
	border-radius: 5px
.nav_item > a 
	font-weight: $medium
	font-size: 20px
	text-decoration: none
	display: inline
	color: #fff
.footer_wrapper 
	width: 100%
	background: $blue
.footer
	margin: 0px 18.75% 0px  18.75%
	height: 120px
	color: #fff
.footer p
	text-align: center
	font-size: 24px
	font-weight: $semibold
	line-height: 1.125
.footer > p:nth-child(1)
	padding-top: 35px
/*ХЕДЕР-ФУТЕР КОНЕЦ*/

/*УСЛУГИ*/
.main_wrapper 
	width: 100%
	overflow: hidden
.services_head_wrapper
	width: 100%
.services_head 
	padding: 50px 125px
	width: 100%
	position: relative
.services_head_info
	position: relative
	width: 100%
	height: auto
.services_head_info img 
	width: 63%
	position: relative
	left: 37%
.services_head_text
	position: absolute
	top: 20%
	left: 140px
	width: 50%
	background-image: $gradient
	color: #fff
	padding: 70px 0 50px 0
.services_head_text p 
	margin-left: 100px
	margin-right: 90px
.services_head_text p:nth-child(1)
	font-size: 40px
	font-weight: $semibold
	line-height: 0.675
	padding-bottom: 60px
.services_head_text p:nth-child(2)
	font-size: 24px
.services_list_title > p
	font-size: 40px
	font-weight: $semibold
	padding-top: 130px 
	text-align: center
.services_line 
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 25px
	margin-bottom: 110px
.services_list_wrapper
	background-color: $gray
.services_list_items
	background-image: url(/services_img/services_info.png)
	background-size: cover
	padding: 0px 18.75% 40px  18.75%
	font-size: 0
.services_list_item 
	display: inline-block
	margin-right: 75px
	width: calc(33.33% - 50px)
.services_list_item > p 
	font-size: 28px
	font-weight: $semibold
	text-align: center
	margin-bottom: 30px
.services_list_item img 
	width: 100%
.services_list_items div:nth-child(3), .services_list div:nth-child(6)
	margin-right: 0px 
.services_list_button 
	background-image: $gradient
	width: 80%
	height: 60px
	margin-left: 10%
	margin-right: 10%
	margin: 35px 10% 110px 10%
.services_list_button a 
	text-decoration: none
.services_list_button p
	font-size: 21.6px
	font-weight: $semibold
	text-align: center
	line-height: 60px
	text-decoration: none
	color: #fff
/*УСЛУГИ КОНЕЦ*/

/*КОНТАКТЫ*/
.contact_header 
	background-image: url(../img/contacts/sity.png)
	background-size: cover
	background-repeat: no-repeat
.contact_info 
	padding: 145px 18.75% 300px  18.75%
.contact_info_title p
	font-size: 40px
	font-weight: $semibold
	text-align: center
	line-height: 1
.contact_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 25px
	margin-bottom: 50px
.contact_info_items
	font-size: 0px
.contact_info_item 
	width: 33.33%
	display: inline-block
	vertical-align: top
.contact_info_item_svg svg
	margin-left: auto
	margin-right: auto
	display: block
.contact_info_item p 
	font-size: 28px
	font-weight: $semibold
	text-align: center
.contact_info_items > div:nth-child(3) img
	display: block
	margin-right: auto
	margin-left: auto

//* ВАКАНСИИ НАЧАЛО.*//
.vacancies_wrapper
	background-color: $gray
	padding-top: 130px
	padding-bottom: 80px
.vacancies_title > p
	font-size: 40px
	font-weight: $semibold
	text-align: center
.vacancies 
	background-image: url(../img/contacts/vacancies.png)
	background-size: cover
	background-repeat: no-repeat

.vacancies_info 
	margin: 0px 16% 0px 16%
	font-size: 0
	padding-top: 50px
.vacancies_info_item 
	width: 100%
	position: relative
	height: auto
	margin-bottom: 50px	
.vacancies_info_item img
	width: 61%
	position: relative	
.vacancies_info .vacancies_info_item:nth-child(even) img
	left: 39%
.vacancies_info_text
	position: absolute	
	width: 48%
	background-image: $gradient
	color: #fff
	padding: 60px 0 60px 0
	top: 20%
	z-index: 1
.vacancies_info .vacancies_info_item:nth-child(odd) div
	right: 0
.vacancies_info_text p 
	margin-left: 10.5%
	margin-right: 10.5%
.vacancies_info_text p:nth-child(1)
	font-size: 26px
	font-weight: $semibold
	line-height: 0.675
	margin-bottom: 40px
.vacancies_info_text p:nth-child(2)
	font-size: 24px
.partner_wrapper
	background-color: #fff
	padding-top: 140px
	padding-bottom: 130px
.partner 
	background-image: url(../img/contacts/partners.png)
	background-size: cover
	background-repeat: no-repeat
.partner_title > p
	font-size: 40px
	font-weight: $semibold
	text-align: center
.partner_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 30px
.partner_info
	margin: 0px 20% 0px 20%
	padding-bottom: 650px
.partner_info p
	font-size: 30px
	font-weight: $medium
	text-align: center
/*КОНТАКТЫ КОНЕЦ*/


/*УСЛУГИ ДРУГОЕ*/
/*УСЛУГИ ХЕДЕР*/
.services_other_header 
	margin: 0px 18.75% 0px  18.75%
	font-size: 0px
.services_other_title 
	margin-top: 70px
.services_other_title p 
	text-align: center
	font-size: 40px
	font-weight: $semibold
	line-height: .8	
.services_other_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 15px
	margin-bottom: 25px
.bus_img
	font-size: 0px
	margin: 0px 44.5% 20px 44.5%
.bus_img img 
	width: 100%
.services_lines
	margin: 0px 16.66% 30px 16.66%
.services_other_items 
	font-size: 0px
	padding-bottom: 145px
.services_other_item 
	width: calc(33.333% - 12px)
	display: inline-block
	margin-right: 18px
.services_other_items .services_other_item:nth-child(3)
	margin-right: 0px 
.services_other_item img 
	width: 100%
.services_other_item_text p
	font-size: 30px
	font-weight: $semibold
	text-align: center
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	color: #fff
.services_other_item_text 
	background-image: $gradient
	position: relative
	margin-right: 7.69%
	margin-left: 7.69%
	height: 110px
	bottom: 20px
/*УСЛУГИ ХЕДЕР КОНЕЦ*/

/*УСЛУГИ ТАБЛИЦЫ*/
.table_type_one, .table_type_two 
	font-size: 0px
	margin: 0px 18.75% 0px  18.75%
.table_type_one 
	margin-bottom: 80px
.table_line 
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0
	margin-top: 25px
	margin-bottom: 75px
.table_info  .table_info_title
	font-size: 40px
	font-weight: $semibold
.table_info  .table_info_title_type_two
	font-size: 24px
	font-weight: $medium
	margin-bottom: 50px
.table_info  .table_info_main_text
	font-size: 24px
	font-weight: $regular
	margin-bottom: 90px
.table_info 
	font-size: 24px	
	font-weight: $regular
/*УСЛУГИ ТАБЫ*/
.table_type_one_info_nav
	height: 75px
.table_type_one_info_nav > ul 
	display: flex
	flex-flow: row nowrap
	justify-content: space-around
	height: 100%
.table_type_one_info_nav li
	font-size: 20px
	list-style-type: none
	color: $darkgrey
	font-weight: $medium
	text-align: center
	padding: 0px 1.416666%
	height: 100%
	display: flex
	align-items: center
	cursor: pointer
.table_type_one_info_content
	font-size: 50px
	list-style-type: none
#tabs .table_type_one_info_nav ul .active 
	background-color: $blue
	color: #FFF
#tabs .table_type_one_info_content ul > li 
	display: none
#tabs .table_type_one_info_content ul > li.active
	display: block
/*УСЛУГИ ТАБЫ КОНЕЦ*/

.table_type_one_info_table table, .table_type_two_info_table table 
	font-size: 20px
	border-collapse: collapse
	width: 100%
.table_type_one_info_table table td, .table_type_two_info_table table td
	height: 85px
.table_type_one_count, .table_type_one_price 
	text-align: center
	font-size: 20px
.table_type_one_count
	font-weight: $medium
	color: $darkgrey
.table_type_one_price 
	font-weight: $regular
.table_type_one_info_table table tr:nth-child(even),.table_type_two_info_table table tr:nth-child(even)
	background-color: $gray
.table_type_one_info_table, .table_type_two_info_table 
	border-top: 5px solid $blue
	border-bottom: 5px solid $blue
.table_type_two_info_table 
	width: 100%
.table_type_two_info_table table td
	width: 25%
	padding-left: 5%
.table_type_two_info_table table tr:nth-child(1)
	color: $darkgrey
	font-weight: 	$medium
.table_type_two_info_table table tr td:nth-child(1)
	font-weight: 	$medium
.table_type_two
	margin-bottom: 100px
	padding-top: 125px
/*УСЛУГИ ТАБЛИЦЫ КОНЕЦ*/

/*УСЛУГИ ДРУГОЕ КОНЕЦ*/

/*ЗАКАЗ АВТОБУСОВ НАЧАЛО*/
.order_header 
	background-image: url(../img/bus_order/order_header_bcg.png)
	font-size: 0px
	position: relative
	background-size: cover
	background-repeat: no-repeat
	padding-bottom: 90px
	max-height: 1000px
.order_header_info_title 
	font-size: 40px
	padding-top: 70px
	font-weight: $semibold
	text-align: center
	line-height: 0.675
.order_header_img_one, .order_header_img_two
	width: 36.5%
	display: inline-block
	position: relative
	height: 100%
.order_header_img_one img, .order_header_img_two img
	width: 100%
	height: 100%
.order_header_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0px
	margin-top: 20px
.order_header_img_two_text, .order_header_img_one_text 
	width: 34%
	background-image: $gradient
	font-size: 26px
	font-weight: $semibold
	color: #fff
	height: 110px
	position: absolute
.order_header_img_one_text 
	top: 0px
	left: 6.7%
.order_header_img_two_text
	bottom: -65px
	left: 39.6%
.order_header_img_two_text p, .order_header_img_one_text p
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	text-align: center
	padding: 5px 15px 5px 15px
/*ФОРМА НАЧАЛО*/
.order_form 
	width: 22%
	height: 600px
	background-color: rgba(0, 0, 0, .4)
	font-size: 0px
	display: inline-block
	margin-right: 2.5%
	margin-left: 2.5%
	margin-top: 30px;
.order_form_title 
	font-size: 29px
	font-weight: $semibold
	color: #fff
	text-align: center
	height: 110px
.order_form_title p
	position: relative
	top: 50%
	transform: translate(0,-50%)
.order_form form 
	margin-right: 7.62%
	margin-left: 7.62%
.forma_group input, .forma_group select
	width: 100%
	height: 40px
	margin-bottom: 14px
	font-weight: $regular
	font-size: 20px
	border-width: 2px
	border-radius: 5px
	padding: 5px 17px 0px 17px
form .forma_group:last-of-type input
	margin-bottom: 0px
.forma_group 
	font-size: 0px
.forma_group input:focus
	border-color: $blue
.forma_group select option
	color: $darkgrey
.order_form input, .order_form textarea, .order_form select, .order_form button
	color: $darkgrey	
.order_form input::placeholder 
	color: $darkgrey
.order_form button
	display: block
	height: 60px
	width: 87.08%
	background-image: $gradient
	border-width: 0px
	margin: 33px auto
.order_form button p
	font-size: 27px
	font-weight: $semibold
	color: #fff

.images_text_info
	margin: 0px 18.75% 80px  18.75%
.images_text_title
	font-size: 40px
	font-weight: $semibold
.images_line
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0px
	margin-top: 20px
.images_text_items
	height: auto
	overflow: hidden
	margin: 0px 14% 0px  9.63%
.images_text_item
	width: 100%
	font-size: 0px
	position: relative
	margin-bottom: 250px
.images_text_item img 
	width: 51.67%
	position: relative
.images_text_item_info
	width: 65.18%
	background-image: $gradient
	color: #fff
	padding: 75px 85px
	position: absolute
	text-align: justify
	top: 120px
.images_text_item_info_title
	font-weight: $semibold
	font-size: 28px
.images_text_item_info_content 
	font-size: 24px
 	line-height: 1.125
.images_text_item:nth-child(even) .images_text_item_img
	left: 51.67%
.images_text_item:nth-child(odd) .images_text_item_info
	right: 0px
.images_text_item_info_text
	margin: 75px 80px

//* ЭКСКУРСИИ ГЛAВНАЯ*//
.excursions_wrapper 
	margin: 100px 18.75% 0px  18.75%
	overflow: hidden
	font-size: 0px
.excursions_head 
	padding-bottom: 50px
	border-bottom: 4px solid $blue
.excursions_head_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
.excursions_head_line 
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0px
	margin-right: auto
	margin-left: auto
	margin-bottom: 50px
	margin-top: 25px
.excursions_head_text 
	font-size: 28px
	font-weight: $regular
.excursions_items
	margin-bottom: 60px	
.excursions_item 
	border-bottom: 4px solid $blue
	padding: 40px 0px 40px 0px
.excursions_item_title 
	font-size: 32px	
	font-weight: $semibold
	margin-bottom: 40px	
	text-align: center
.excursions_item_text 
	font-size: 24px
	font-weight: $regular
	margin-bottom: 40px
	text-align: justify
.excursions_item_detail 
	width: 300px
	height: 55px
	background-image: $gradient
	font-size: 24px
	font-weight: $medium
	margin-left: auto
.excursions_item_detail a
	text-decoration: none
	color: #fff
	width: 100%
	height: 100%
	display: block
	line-height: 55px
	text-align: center

.buses_main
	margin: 100px 18.75% 0px  18.75%
.buses_main_head
	padding-bottom: 50px
	border-bottom: 4px solid $blue
.buses_main_head_title
	text-align: center
	font-size: 40px
	font-weight: $semibold
.buses_main_head_line
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0px
	margin-right: auto
	margin-left: auto
	margin-bottom: 50px
	margin-top: 25px
.buses_main_head_text
	font-size: 26px
	font-weight: $regular
	margin-bottom: 40px
	text-align: justify
.buses_main_head_title_two
	font-size: 24px
	font-weight: $medium
.buses_main_item_detail
	width: 300px
	height: 55px
	background-image: $gradient
	font-size: 24px
	font-weight: $medium
	margin-left: auto
.buses_main_item_detail a
	text-decoration: none
	color: #fff
	width: 100%
	height: 100%
	display: block
	line-height: 55px
	text-align: center
.buses_main_item_title 
	font-size: 32px	
	font-weight: $semibold
	margin-bottom: 40px	
	text-align: center
.buses_main_item_text 
	font-size: 24px
	font-weight: $regular
	margin-bottom: 40px
	text-align: justify
.buses_main_item 
	border-bottom: 4px solid $blue
	padding: 40px 0px 40px 0px
.buses_main_items
	margin-bottom: 60px	



.main_head
	background-image: url(../img/main/bcg_main.png)
	width: 100%
	background-repeat: no-repeat
	background-size: cover
	font-size: 0px
	padding-top: 20px;
	padding-bottom: 40px
.main_order
	width: 100%
	position: relative
.main_order img
	width: 100%
.main_order_form 
	position: absolute
	top: 8.695%
	left: 50%
	transform: translate(-50%, 0%)
	width: 22%
	background-color: rgba(0, 0, 0, .4)
	font-size: 0px
	display: inline-block
.main_order_form form 
	margin-right: 7.62%
	margin-left: 7.62%
.main_order_form input, .main_order_form textarea, .main_order_form select, .main_order_form button
	color: $darkgrey	
.main_order_form input::placeholder 
	color: $darkgrey
.main_order_form button
	display: block
	height: 60px
	width: 87.08%
	background-image: $gradient
	border-width: 0px
	margin: 33px auto
	cursor: pointer
.main_order_form button p
	font-size: 27px
	font-weight: $semibold
	color: #fff
.main_order_form_circle img
	width: 100%
.main_order_form_circle
	width: 28.57%
	position: absolute
	top: -7.14%
	left: -14.28%
.main_head_title span:nth-child(1)
	font-size: 40px
	font-weight: $semibold
.main_head_title span:nth-child(2)
	font-size: 60px
	font-weight: $semibold
	color: $blue
	margin-left: 80px
.main_head_title
	text-align: center
	margin-bottom: 10px

.main_about 
	font-size: 0px
	margin: 0px 18.75% 300px  18.75%
.main_about_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
	padding-top: 130px
.main_line 
	width: 55px
	height: 4px
	background-color: $blue
	margin: 25px auto 0px auto
.main_about_brand p
	font-size: 30px
	font-weight: $semibold
	text-align: center
	margin-bottom: 60px
	margin-top: 180px
.main_about_brand img
	display: block
	width: 83.33%
	margin-right: auto
	margin-left: auto
.main_services
	font-size: 0px
.main_services_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
.main_cervices_items
	padding-top: 140px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	margin: 0px 18.75% 0px  18.75%
	padding-bottom: 50px
.main_cervices_wrapper
	width: 100%
	font-size: 0
	background-image: url(../img/main/m-sity.png)
	background-repeat: no-repeat
	background-size: cover
.main_cervices_item 
	display: inline-block
	width: 25%
	margin-bottom: 60px
.main_cervices_item_img
	margin: 0px 28.33% 35px 28.33%
.main_cervices_item_text
	font-size: 24px
	font-weight: $medium
	color: $blue
	text-align: center
	margin: 0px 6.66% 0px 6.66%
.main_courusel
	font-size: 0px
	width: 100%
	position: relative
.main_courusel_item 
	position: relative
	display: inline-block
.main_courusel_item_img
	width: 100%
	position: relative
.main_courusel_item_img img
	width: 100%
.main_courusel_item_text
	width: 44%
	height: 55px
	text-align: center
	font-size: 22px
	font-weight: $semibold
	color: #fff
	background-image: $gradient_two
	position: absolute
	z-index: 2
	bottom: 0
	right: 0
.main_courusel_item_text p
	line-height: 55px
.slick-slide
	opacity: .6
	position: relative
	width: 650px
	padding: 52px 70px
	vertical-align: middle
.slick-center
	opacity: 1
	width: 650px
	padding: 0px 
.slick-slide
  transition: padding .5s, opacity .5s
.back, .next
	position: absolute
	top: 50%
	transform: translate(0, -50%)
.back 
	left: calc(50% - 362px)
.next
	right: calc(50% - 362px)

.main_courusel_prises
	display: block
	background-image: $gradient_two
	width: 370px
	height: 70px
	margin: 75px auto 100px auto
.main_courusel_prises p
	font-size: 34px
	font-weight: $semibold
	color: #fff
	text-align: center
	line-height: 70px
.main_courusel_wrapper 
	margin-top: 200px

.main_tips
	font-size: 0
.main_tips_head 
	margin: 200px 18.75% 0px  18.75%
.main_tips_head_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
.main_tips_head_info
	font-weight: $medium
	font-size: 24px
	text-align: center
	margin-top: 70px
	height: auto
.main_tips_content
	background-image: url(../img/main/bcg_tips.png)
	background-size: cover
	background-repeat: no-repeat
	font-size: 20px
	height: auto
	padding-top: 80px
.main_tips_info
	background-image: url(../img/main/lines.png)
	background-size: 72.91666% 48%
	background-repeat: no-repeat
	padding: 0px 18.75% 0px  18.75%	
	background-position: 47% 0%
	font-size: 0px
	height: auto
.main_tips_item p:nth-child(1)
	font-size: 60px
	color: $blue
	font-weight: $semibold
	line-height: 0.8
.main_tips_item p:nth-child(2)
	font-size: 24px
	color: $blue
	font-weight: $medium
	margin-bottom: 30px
.main_tips_item p:nth-child(3)
	font-size: 24px
	color: #000
	font-weight: $regular
	padding-bottom: 80px
.main_tips_block_left, .main_tips_block_right
	display: inline-block
	width: 50%
	vertical-align: top
	min-height: 10px
.main_tips_block_left div:nth-child(1)
	width: 78.333%
.main_tips_block_right
	position: relative
.main_tips_block_right div:nth-child(1)
	width: 105%
	position: relative
	left: -5%
	padding-top: 6%
.main_tips_block_right div:nth-child(2)
	width: 83.333%
	position: relative
	left: 17.77%
.main_contacts 
	padding: 0px 18.75% 185px  18.75%	
.main_contacts_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
	padding-top: 130px
.main_contacts_lines 
	margin: 50px 16.66% 	0px 16.66%;
.main_contacts_items
	width: 100%
	font-size: 0
.main_contacts_item
	display: inline-block
	width: calc(33.333% - 70px)
	margin: 0px 35px
	vertical-align: bottom
.main_contacts_item_img img
	margin-right: auto
	margin-left: auto
	display: block
	position: relative
.main_contacts_item_info
	width: 100%
	height: 110px
	background-image: $gradient
	font-size: 20px
	color: #fff
	font-weight: $semibold
	text-align: center
.main_contacts_item_info p
	position: relative
	top: 50%
	transform: translate(0%, -50%)
	margin: 0px 20px
.main_contacts_items .main_contacts_item:nth-child(1) img
	width: 76.66%
	top: 25px
.main_contacts_items .main_contacts_item:nth-child(2) img
	width: 69.09%
	top: 15px
.main_contacts_items .main_contacts_item:nth-child(3) img
	width: 43.03%
	top: 10px
.main_news
	padding: 105px 18.75% 70px  18.75%	
	background-color: $gray
	font-size: 0
.main_news_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
.main_news_items 
	margin-top: 105px
	margin-bottom: 120px
.main_news_item 
	display: inline-block
	vertical-align: top
	width: calc(33.33% - 50px)
	margin-right: 75px
.main_news_item:nth-child(3)
	margin-right: 0px
.main_news_item img
	width: 100%
	margin-bottom: 30px
.main_news_item_date 
	font-size: 18px
	font-weight: $regular
	color: $lightblue
	margin-bottom: 10px
.main_news_item_title
	font-weight: $semibold
	color: $blue
	font-size: 28px
	margin-bottom: 30px
.main_news_item_content
	font-size: 24px
	font-weight: $regular
	color: #000
	text-align: justify
.main_news_detail 
	width: 255px
	height: 65px
	background-image: $gradient
	margin-right: auto
	margin-left: auto
.main_news_detail p
	font-size: 30px
	font-weight: $semibold
	color: #fff
	text-align: center
	line-height: 65px
	display: block
	width: 100%
	height: 100%

.catalog_wrapper
	margin: 0px 18.75% 0px  18.75%	
.catalog_title
	font-size: 32px
	font-weight: $semibold
	text-align: center
	border-bottom: 5px solid $blue
	padding-bottom: 25px
.catalog_items
	width: 100%
	padding-bottom: 70px
.catalog_item_text
	display: inline-block
	width: 80%
	vertical-align: top
	height: 100%
.catalog_item
	border-bottom: 5px solid $blue
	padding: 20px 0px 20px 0px
	font-size: 0px
	height: 100%
.catalog_item p
	font-size: 20px
	font-weight: $regular
	color: #000
.catalog_item_img
	display: inline-block
	width: 20%
	height: 100%
	border: 1.5px solid $darkgrey
	margin: 10px 0px
.catalog_item_img img
	width: 100%
	position: relative
.catalog_item .catalog_item_title
	font-size: 28px
	font-weight: $medium
	margin-bottom: 20px
.catalog_item_link
	font-size: 24px
	list-style-type: none
	padding: 10px 0px 10px 15px
.catalog_item_link a
	text-decoration: underline
	color: #000
.catalog_item_link a:hover 
	color: $lightblue
