@charset "UTF-8";
/*ПЕРЕМЕННЫЕ */
/*ПЕРЕМЕННЫЕ КОНЕЦ*/
/*ХЕДЕР-ФУТЕР*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif; }

.header_wrapper {
  width: 100%;
  background: #0d5899; }

.header {
  margin: 0px 18.75% 0px  18.75%;
  height: 130px; }

.header_nav {
  text-decoration: none;
  height: 130px; }

.nav_item {
  text-decoration: none;
  color: #fff; }

.logo {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 40px; }

.main_nav {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  float: right; }

.nav {
  display: block; }

.main_nav a {
  vertical-align: middle;
  line-height: 130px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px; }

.footer_wrapper {
  width: 100%;
  background: #0d5899; }

.footer {
  margin: 0px 18.75% 0px  18.75%;
  height: 120px;
  color: #fff; }

.footer p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.125; }

.footer > p:nth-child(1) {
  padding-top: 35px; }

/*ХЕДЕР-ФУТЕР КОНЕЦ*/
/*УСЛУГИ*/
.main_mrapper {
  width: 100%;
  overflow: hidden; }

.services_head_wrapper {
  width: 100%; }

.services_head {
  padding: 50px 125px;
  width: 100%;
  position: relative; }

.services_head_info {
  position: relative;
  width: 100%;
  height: auto; }

.services_head_info img {
  width: 63%;
  position: relative;
  left: 37%; }

.services_head_text {
  position: absolute;
  top: 20%;
  left: 140px;
  width: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#0d5899), to(#148fcb));
  background-image: -webkit-linear-gradient(left, #0d5899, #148fcb);
  background-image: -o-linear-gradient(left, #0d5899, #148fcb);
  background-image: linear-gradient(90deg, #0d5899, #148fcb);
  color: #fff;
  padding: 70px 0 50px 0; }

.services_head_text p {
  margin-left: 100px;
  margin-right: 90px; }

.services_head_text p:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  line-height: 0.675;
  padding-bottom: 60px; }

.services_head_text p:nth-child(2) {
  font-size: 24px; }

.services_list_title > p {
  font-size: 40px;
  font-weight: 600;
  padding-top: 130px;
  text-align: center; }

.services_line {
  width: 55px;
  height: 4px;
  background-color: #0d5899;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
  margin-top: 25px;
  margin-bottom: 110px; }

.services_list_wrapper {
  background-color: #f3f6fa; }

.services_list_items {
  background-image: url(/services_img/services_info.png);
  background-size: cover;
  padding: 0px 18.75% 40px  18.75%;
  font-size: 0; }

.services_list_item {
  display: inline-block;
  margin-right: 75px;
  width: calc(33.33% - 50px); }

.services_list_item > p {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px; }

.services_list_item img {
  width: 100%; }

.services_list_items div:nth-child(3), .services_list div:nth-child(6) {
  margin-right: 0px; }

.services_list_button {
  background-image: -webkit-gradient(linear, left top, right top, from(#0d5899), to(#148fcb));
  background-image: -webkit-linear-gradient(left, #0d5899, #148fcb);
  background-image: -o-linear-gradient(left, #0d5899, #148fcb);
  background-image: linear-gradient(90deg, #0d5899, #148fcb);
  width: 80%;
  height: 60px;
  margin-left: 10%;
  margin-right: 10%;
  margin: 35px 10% 110px 10%; }

.services_list_button a {
  text-decoration: none; }

.services_list_button p {
  font-size: 21.6px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: #fff; }

/*УСЛУГИ КОНЕЦ*/
/*КОНТАКТЫ*/
.contact_header {
  background-image: url(../img/contacts/sity.png);
  background-size: cover;
  background-repeat: no-repeat; }

.contact_info {
  padding: 145px 18.75% 300px  18.75%; }

.contact_info_title p {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 1; }

.contact_line {
  width: 55px;
  height: 4px;
  background-color: #0d5899;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
  margin-top: 25px;
  margin-bottom: 100px; }

.contact_info_items {
  font-size: 0px; }

.contact_info_item {
  width: 33.33%;
  display: inline-block;
  vertical-align: top; }

.contact_info_item_svg svg {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.contact_info_item p {
  font-size: 28px;
  font-weight: 600;
  text-align: center; }

.contact_info_items > div:nth-child(3) img {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.vacancies_wrapper {
  background-color: #f3f6fa;
  padding-top: 130px;
  padding-bottom: 130px; }

.vacancies_title > p {
  font-size: 40px;
  font-weight: 600;
  text-align: center; }

.vacancies {
  background-image: url(../img/contacts/vacancies.png);
  background-size: cover;
  background-repeat: no-repeat; }

.vacancies_info {
  margin: 0px 16% 0px 16%;
  font-size: 0; }

.vacancies_info_item {
  width: 100%;
  position: relative;
  height: auto; }

.vacancies_info .vacancies_info_item:nth-child(1) {
  margin-bottom: 50px; }

.vacancies_info_item img {
  width: 61.5%;
  position: relative; }

.vacancies_info .vacancies_info_item:nth-child(2) img {
  left: 39%; }

.vacancies_info_text {
  position: absolute;
  top: 26%;
  width: 48%;
  background-image: -webkit-gradient(linear, left top, right top, from(#0d5899), to(#148fcb));
  background-image: -webkit-linear-gradient(left, #0d5899, #148fcb);
  background-image: -o-linear-gradient(left, #0d5899, #148fcb);
  background-image: linear-gradient(90deg, #0d5899, #148fcb);
  color: #fff;
  padding: 60px 0 60px 0; }

.vacancies_info .vacancies_info_item:nth-child(1) div {
  right: 0; }

.vacancies_info_text p {
  margin-left: 65px;
  margin-right: 70px; }

.vacancies_info_text p:nth-child(1) {
  font-size: 26px;
  font-weight: 600;
  line-height: 0.675; }

.vacancies_info_text p:nth-child(2) {
  font-size: 24px; }

.partner_wrapper {
  background-color: #fff;
  padding-top: 140px;
  padding-bottom: 130px; }

.partner {
  background-image: url(../img/contacts/partners.png);
  background-size: cover;
  background-repeat: no-repeat; }

.partner_title > p {
  font-size: 40px;
  font-weight: 600;
  text-align: center; }

.partner_line {
  width: 55px;
  height: 4px;
  background-color: #0d5899;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
  margin-top: 30px; }

.partner_info {
  margin: 0px 20% 0px 20%;
  padding-bottom: 650px; }

.partner_info p {
  font-size: 30px;
  font-weight: 500;
  text-align: center; }

/*КОНТАКТЫ КОНЕЦ*/
/*УСЛУГИ ДРУГОЕ*/
/*УСЛУГИ ХЕДЕР*/
.services_other_header {
  margin: 0px 18.75% 0px  18.75%;
  font-size: 0px; }

.services_other_title {
  margin-top: 70px; }

.services_other_title p {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: .8; }

.services_other_line {
  width: 55px;
  height: 4px;
  background-color: #0d5899;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
  margin-top: 15px;
  margin-bottom: 25px; }

.bus_img {
  font-size: 0px;
  margin: 0px 44.5% 20px 44.5%; }

.bus_img img {
  width: 100%; }

.services_lines {
  margin: 0px 16.66% 30px 16.66%; }

.services_other_items {
  font-size: 0px;
  padding-bottom: 145px; }

.services_other_item {
  width: calc(33.333% - 12px);
  display: inline-block;
  margin-right: 18px; }

.services_other_items .services_other_item:nth-child(3) {
  margin-right: 0px; }

.services_other_item img {
  width: 100%; }

.services_other_item_text p {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff; }

.services_other_item_text {
  background-image: -webkit-gradient(linear, left top, right top, from(#0d5899), to(#148fcb));
  background-image: -webkit-linear-gradient(left, #0d5899, #148fcb);
  background-image: -o-linear-gradient(left, #0d5899, #148fcb);
  background-image: linear-gradient(90deg, #0d5899, #148fcb);
  position: relative;
  margin-right: 7.69%;
  margin-left: 7.69%;
  height: 110px;
  bottom: 20px; }

/*УСЛУГИ ХЕДЕР КОНЕЦ*/
/*УСЛУГИ ТАБЛИЦЫ*/
.table_type_one, .table_type_two {
  font-size: 0px;
  margin: 0px 18.75% 0px  18.75%; }

.table_type_one {
  margin-bottom: 80px; }

.table_line {
  width: 55px;
  height: 4px;
  background-color: #0d5899;
  font-size: 0;
  margin-top: 25px;
  margin-bottom: 75px; }

.table_info .table_info_title {
  font-size: 40px;
  font-weight: 600; }

.table_info .table_info_title_type_two {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px; }

.table_info .table_info_main_text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 90px; }

.table_info {
  font-size: 24px;
  font-weight: 400; }

/*УСЛУГИ ТАБЫ*/
.table_type_one_info_nav {
  height: 75px; }

.table_type_one_info_nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%; }

.table_type_one_info_nav li {
  font-size: 20px;
  list-style-type: none;
  color: #999999;
  font-weight: 500;
  text-align: center;
  padding: 0px 1.416666%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

.table_type_one_info_content {
  font-size: 50px;
  list-style-type: none; }

#tabs .table_type_one_info_nav ul .active {
  background-color: #0d5899;
  color: #FFF; }

#tabs .table_type_one_info_content ul > li {
  display: none; }

#tabs .table_type_one_info_content ul > li.active {
  display: block; }

/*УСЛУГИ ТАБЫ КОНЕЦ*/
.table_type_one_info_table table, .table_type_two_info_table table {
  font-size: 20px;
  border-collapse: collapse;
  width: 100%; }

.table_type_one_info_table table td, .table_type_two_info_table table td {
  height: 85px; }

.table_type_one_count, .table_type_one_price {
  text-align: center;
  font-size: 20px; }

.table_type_one_count {
  font-weight: 500;
  color: #999999; }

.table_type_one_price {
  font-weight: 400; }

.table_type_one_info_table table tr:nth-child(even), .table_type_two_info_table table tr:nth-child(even) {
  background-color: #f3f6fa; }

.table_type_one_info_table, .table_type_two_info_table {
  border-top: 5px solid #0d5899;
  border-bottom: 5px solid #0d5899; }

.table_type_two_info_table {
  width: 100%; }

.table_type_two_info_table table td {
  width: 25%;
  padding-left: 5%; }

.table_type_two_info_table table tr:nth-child(1) {
  color: #999999;
  font-weight: 500; }

.table_type_two_info_table table tr td:nth-child(1) {
  font-weight: 500; }

.table_type_two {
  margin-bottom: 100px;
  padding-top: 125px; }

/*УСЛУГИ ТАБЛИЦЫ КОНЕЦ*/
/*УСЛУГИ ДРУГОЕ КОНЕЦ*/
