/*ПЕРЕМЕННЫЕ */
$blue: #0d5899
$lightblue: #148fcb
$black: #1a1a1a
$gray: #f3f6fa
$darkgrey: #999999
$regular: 400
$medium: 500
$semibold: 600
$gradient: linear-gradient(90deg, $blue, $lightblue)
/*ПЕРЕМЕННЫЕ КОНЕЦ*/

/*ХЕДЕР-ФУТЕР*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600')
*
	box-sizing: border-box
	padding: 0
	margin: 0
	font-family: 'Fira Sans', sans-serif 
.header_wrapper 
	width: 100%
	background: $blue
.header 
	margin: 0px 18.75% 0px  18.75%
	height: 130px
.header_nav 
	text-decoration: none
	height: 130px
.nav_item 
	text-decoration: none
	color: #fff
.logo
	display: inline-block
	margin-top: 45px
	margin-bottom: 40px
.main_nav
	display: inline-block
	height: 100%
	vertical-align: middle
	float: right
.nav 
	display: block
.main_nav a 
	vertical-align: middle
	line-height: 130px
	font-weight: $medium
	font-size: 20px
	margin-left: 50px
.footer_wrapper 
	width: 100%
	background: $blue
.footer
	margin: 0px 18.75% 0px  18.75%
	height: 120px
	color: #fff
.footer p
	text-align: center
	font-size: 24px
	font-weight: $semibold
	line-height: 1.125
.footer > p:nth-child(1)
	padding-top: 35px
/*ХЕДЕР-ФУТЕР КОНЕЦ*/

/*УСЛУГИ*/
.main_wrapper 
	width: 100%
	overflow: hidden
.services_head_wrapper
	width: 100%
.services_head 
	padding: 50px 125px
	width: 100%
	position: relative
.services_head_info
	position: relative
	width: 100%
	height: auto
.services_head_info img 
	width: 63%
	position: relative
	left: 37%
.services_head_text
	position: absolute
	top: 20%
	left: 140px
	width: 50%
	background-image: $gradient
	color: #fff
	padding: 70px 0 50px 0
.services_head_text p 
	margin-left: 100px
	margin-right: 90px
.services_head_text p:nth-child(1)
	font-size: 40px
	font-weight: $semibold
	line-height: 0.675
	padding-bottom: 60px
.services_head_text p:nth-child(2)
	font-size: 24px
.services_list_title > p
	font-size: 40px
	font-weight: $semibold
	padding-top: 130px 
	text-align: center
.services_line 
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 25px
	margin-bottom: 110px
.services_list_wrapper
	background-color: $gray
.services_list_items
	background-image: url(/services_img/services_info.png)
	background-size: cover
	padding: 0px 18.75% 40px  18.75%
	font-size: 0
.services_list_item 
	display: inline-block
	margin-right: 75px
	width: calc(33.33% - 50px)
.services_list_item > p 
	font-size: 28px
	font-weight: $semibold
	text-align: center
	margin-bottom: 30px
.services_list_item img 
	width: 100%
.services_list_items div:nth-child(3), .services_list div:nth-child(6)
	margin-right: 0px 
.services_list_button 
	background-image: $gradient
	width: 80%
	height: 60px
	margin-left: 10%
	margin-right: 10%
	margin: 35px 10% 110px 10%
.services_list_button a 
	text-decoration: none
.services_list_button p
	font-size: 21.6px
	font-weight: $semibold
	text-align: center
	line-height: 60px
	text-decoration: none
	color: #fff
/*УСЛУГИ КОНЕЦ*/

/*КОНТАКТЫ*/
.contact_header 
	background-image: url(../img/contacts/sity.png)
	background-size: cover
	background-repeat: no-repeat
.contact_info 
	padding: 145px 18.75% 300px  18.75%
.contact_info_title p
	font-size: 40px
	font-weight: $semibold
	text-align: center
	line-height: 1
.contact_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 25px
	margin-bottom: 50px
.contact_info_items
	font-size: 0px
.contact_info_item 
	width: 33.33%
	display: inline-block
	vertical-align: top
.contact_info_item_svg svg
	margin-left: auto
	margin-right: auto
	display: block
.contact_info_item p 
	font-size: 28px
	font-weight: $semibold
	text-align: center
.contact_info_items > div:nth-child(3) img
	display: block
	margin-right: auto
	margin-left: auto

//* ВАКАНСИИ НАЧАЛО.*//
.vacancies_wrapper
	background-color: $gray
	padding-top: 130px
	padding-bottom: 80px
.vacancies_title > p
	font-size: 40px
	font-weight: $semibold
	text-align: center
.vacancies 
	background-image: url(../img/contacts/vacancies.png)
	background-size: cover
	background-repeat: no-repeat

.vacancies_info 
	margin: 0px 16% 0px 16%
	font-size: 0
.vacancies_info_item 
	width: 100%
	position: relative
	height: auto
	padding-top: 50px
.vacancies_info_item img
	width: 61%
	position: relative	
.vacancies_info .vacancies_info_item:nth-child(even) img
	left: 39%
.vacancies_info_text
	position: absolute	
	width: 48%
	background-image: $gradient
	color: #fff
	padding: 60px 0 60px 0
	top: 20%
	z-index: 1
.vacancies_info .vacancies_info_item:nth-child(odd) div
	right: 0
.vacancies_info_text p 
	margin-left: 10.5%
	margin-right: 10.5%
.vacancies_info_text p:nth-child(1)
	font-size: 26px
	font-weight: $semibold
	line-height: 0.675
	margin-bottom: 40px
.vacancies_info_text p:nth-child(2)
	font-size: 24px
.partner_wrapper
	background-color: #fff
	padding-top: 140px
	padding-bottom: 130px
.partner 
	background-image: url(../img/contacts/partners.png)
	background-size: cover
	background-repeat: no-repeat
.partner_title > p
	font-size: 40px
	font-weight: $semibold
	text-align: center
.partner_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 30px
.partner_info
	margin: 0px 20% 0px 20%
	padding-bottom: 650px
.partner_info p
	font-size: 30px
	font-weight: $medium
	text-align: center
/*КОНТАКТЫ КОНЕЦ*/


/*УСЛУГИ ДРУГОЕ*/
/*УСЛУГИ ХЕДЕР*/
.services_other_header 
	margin: 0px 18.75% 0px  18.75%
	font-size: 0px
.services_other_title 
	margin-top: 70px
.services_other_title p 
	text-align: center
	font-size: 40px
	font-weight: $semibold
	line-height: .8	
.services_other_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0
	margin-top: 15px
	margin-bottom: 25px
.bus_img
	font-size: 0px
	margin: 0px 44.5% 20px 44.5%
.bus_img img 
	width: 100%
.services_lines
	margin: 0px 16.66% 30px 16.66%
.services_other_items 
	font-size: 0px
	padding-bottom: 145px
.services_other_item 
	width: calc(33.333% - 12px)
	display: inline-block
	margin-right: 18px
.services_other_items .services_other_item:nth-child(3)
	margin-right: 0px 
.services_other_item img 
	width: 100%
.services_other_item_text p
	font-size: 30px
	font-weight: $semibold
	text-align: center
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	color: #fff
.services_other_item_text 
	background-image: $gradient
	position: relative
	margin-right: 7.69%
	margin-left: 7.69%
	height: 110px
	bottom: 20px
/*УСЛУГИ ХЕДЕР КОНЕЦ*/

/*УСЛУГИ ТАБЛИЦЫ*/
.table_type_one, .table_type_two 
	font-size: 0px
	margin: 0px 18.75% 0px  18.75%
.table_type_one 
	margin-bottom: 80px
.table_line 
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0
	margin-top: 25px
	margin-bottom: 75px
.table_info  .table_info_title
	font-size: 40px
	font-weight: $semibold
.table_info  .table_info_title_type_two
	font-size: 24px
	font-weight: $medium
	margin-bottom: 50px
.table_info  .table_info_main_text
	font-size: 24px
	font-weight: $regular
	margin-bottom: 90px
.table_info 
	font-size: 24px	
	font-weight: $regular
/*УСЛУГИ ТАБЫ*/
.table_type_one_info_nav
	height: 75px
.table_type_one_info_nav > ul 
	display: flex
	flex-flow: row nowrap
	justify-content: space-around
	height: 100%
.table_type_one_info_nav li
	font-size: 20px
	list-style-type: none
	color: $darkgrey
	font-weight: $medium
	text-align: center
	padding: 0px 1.416666%
	height: 100%
	display: flex
	align-items: center
	cursor: pointer
.table_type_one_info_content
	font-size: 50px
	list-style-type: none
#tabs .table_type_one_info_nav ul .active 
	background-color: $blue
	color: #FFF
#tabs .table_type_one_info_content ul > li 
	display: none
#tabs .table_type_one_info_content ul > li.active
	display: block
/*УСЛУГИ ТАБЫ КОНЕЦ*/

.table_type_one_info_table table, .table_type_two_info_table table 
	font-size: 20px
	border-collapse: collapse
	width: 100%
.table_type_one_info_table table td, .table_type_two_info_table table td
	height: 85px
.table_type_one_count, .table_type_one_price 
	text-align: center
	font-size: 20px
.table_type_one_count
	font-weight: $medium
	color: $darkgrey
.table_type_one_price 
	font-weight: $regular
.table_type_one_info_table table tr:nth-child(even),.table_type_two_info_table table tr:nth-child(even)
	background-color: $gray
.table_type_one_info_table, .table_type_two_info_table 
	border-top: 5px solid $blue
	border-bottom: 5px solid $blue
.table_type_two_info_table 
	width: 100%
.table_type_two_info_table table td
	width: 25%
	padding-left: 5%
.table_type_two_info_table table tr:nth-child(1)
	color: $darkgrey
	font-weight: 	$medium
.table_type_two_info_table table tr td:nth-child(1)
	font-weight: 	$medium
.table_type_two
	margin-bottom: 100px
	padding-top: 125px
/*УСЛУГИ ТАБЛИЦЫ КОНЕЦ*/

/*УСЛУГИ ДРУГОЕ КОНЕЦ*/

/*ЗАКАЗ АВТОБУСОВ НАЧАЛО*/
.order_header 
	background-image: url(../img/bus_order/order_header_bcg.png)
	font-size: 0px
	position: relative
	background-size: cover
	background-repeat: no-repeat
	padding-bottom: 90px
	max-height: 1000px
.order_header_info_title 
	font-size: 40px
	padding-top: 70px
	font-weight: $semibold
	text-align: center
	line-height: 0.675
.order_header_img_one, .order_header_img_two
	width: 36.5%
	display: inline-block
	position: relative
	height: 100%
.order_header_img_one img, .order_header_img_two img
	width: 100%
	height: 100%
.order_header_line
	width: 55px
	height: 4px
	background-color: $blue
	margin-right: auto
	margin-left: auto
	font-size: 0px
	margin-top: 20px
.order_header_img_two_text, .order_header_img_one_text 
	width: 34%
	background-image: $gradient
	font-size: 26px
	font-weight: $semibold
	color: #fff
	height: 110px
	position: absolute
.order_header_img_one_text 
	top: 0px
	left: 6.7%
.order_header_img_two_text
	bottom: -65px
	left: 39.6%
.order_header_img_two_text p, .order_header_img_one_text p
	position: relative
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	text-align: center
	padding: 5px 15px 5px 15px
/*ФОРМА НАЧАЛО*/
.order_form 
	width: 22%
	height: 600px
	background-color: rgba(0, 0, 0, .4)
	font-size: 0px
	display: inline-block
	margin-right: 2.5%
	margin-left: 2.5%
	margin-top: 30px;
.order_form_title 
	font-size: 29px
	font-weight: $semibold
	color: #fff
	text-align: center
	height: 110px
.order_form_title p
	position: relative
	top: 50%
	transform: translate(0,-50%)
.order_form form 
	margin-right: 7.62%
	margin-left: 7.62%
.forma_group input, .forma_group select
	width: 100%
	height: 40px
	margin-bottom: 14px
	font-weight: $regular
	font-size: 20px
	border-width: 2px
	border-radius: 5px
	padding: 5px 17px 0px 17px
form .forma_group:last-of-type input
	margin-bottom: 0px
.forma_group 
	font-size: 0px
.forma_group input:focus
	border-color: $blue
.forma_group select option
	color: $darkgrey
.order_form input, .order_form textarea, .order_form select, .order_form button
	color: $darkgrey	
.order_form input::placeholder 
	color: $darkgrey
.order_form button
	display: block
	height: 60px
	width: 87.08%
	background-image: $gradient
	border-width: 0px
	margin: 33px auto
.order_form button p
	font-size: 27px
	font-weight: $semibold
	color: #fff

.images_text_info
	margin: 0px 18.75% 80px  18.75%
.images_text_title
	font-size: 40px
	font-weight: $semibold
.images_line
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0px
	margin-top: 20px
.images_text_items
	height: auto
	overflow: hidden
	margin: 0px 14% 0px  9.63%
.images_text_item
	width: 100%
	font-size: 0px
	position: relative
	margin-bottom: 250px
.images_text_item img 
	width: 51.67%
	position: relative
.images_text_item_info
	width: 65.18%
	background-image: $gradient
	color: #fff
	padding: 75px 85px
	position: absolute
	text-align: justify
	top: 120px
.images_text_item_info_title
	font-weight: $semibold
	font-size: 28px
.images_text_item_info_content 
	font-size: 24px
 	line-height: 1.125
.images_text_item:nth-child(even) .images_text_item_img
	left: 51.67%
.images_text_item:nth-child(odd) .images_text_item_info
	right: 0px
.images_text_item_info_text
	margin: 75px 80px

//* ЭКСКУРСИИ ГЛAВНАЯ*//
.excursions_wrapper 
	margin: 100px 18.75% 0px  18.75%
	overflow: hidden
	font-size: 0px
.excursions_head 
	padding-bottom: 50px
	border-bottom: 4px solid $blue
.excursions_head_title
	font-size: 40px
	font-weight: $semibold
	text-align: center
.excursions_head_line 
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0px
	margin-right: auto
	margin-left: auto
	margin-bottom: 50px
	margin-top: 25px
.excursions_head_text 
	font-size: 28px
	font-weight: $regular
.excursions_items
	margin-bottom: 60px	
.excursions_item 
	border-bottom: 4px solid $blue
	padding: 40px 0px 40px 0px
.excursions_item_title 
	font-size: 32px	
	font-weight: $semibold
	margin-bottom: 40px	
	text-align: center
.excursions_item_text 
	font-size: 24px
	font-weight: $regular
	margin-bottom: 40px
	text-align: justify
.excursions_item_detail 
	width: 300px
	height: 55px
	background-image: $gradient
	font-size: 24px
	font-weight: $medium
	margin-left: auto
.excursions_item_detail a
	text-decoration: none
	color: #fff
	width: 100%
	height: 100%
	display: block
	line-height: 55px
	text-align: center

.buses_main
	margin: 100px 18.75% 0px  18.75%
.buses_main_head
	padding-bottom: 50px
	border-bottom: 4px solid $blue
.buses_main_head_title
	text-align: center
	font-size: 40px
	font-weight: $semibold
.buses_main_head_line
	width: 55px
	height: 4px
	background-color: $blue
	font-size: 0px
	margin-right: auto
	margin-left: auto
	margin-bottom: 50px
	margin-top: 25px
.buses_main_head_text
	font-size: 26px
	font-weight: $regular
	margin-bottom: 40px
	text-align: justify
.buses_main_head_title_two
	font-size: 24px
	font-weight: $medium
.buses_main_item_detail
	width: 300px
	height: 55px
	background-image: $gradient
	font-size: 24px
	font-weight: $medium
	margin-left: auto
.buses_main_item_detail a
	text-decoration: none
	color: #fff
	width: 100%
	height: 100%
	display: block
	line-height: 55px
	text-align: center
.buses_main_item_title 
	font-size: 32px	
	font-weight: $semibold
	margin-bottom: 40px	
	text-align: center
.buses_main_item_text 
	font-size: 24px
	font-weight: $regular
	margin-bottom: 40px
	text-align: justify
.buses_main_item 
	border-bottom: 4px solid $blue
	padding: 40px 0px 40px 0px
.buses_main_items
	margin-bottom: 60px	



.main_head
	background-image: url(../img/main/bcg_main.png)
	width: 100%
	background-repeat: no-repeat
	background-size: cover
	font-size: 0px
.main_order
	width: 100%
	position: relative
.main_order img
	width: 100%
.main_order_form 
	position: absolute
	top: 8.695%
	left: 50%
	transform: translate(-50%, 0%)
	width: 22%
	background-color: rgba(0, 0, 0, .4)
	font-size: 0px
	display: inline-block
.main_order_form form 
	margin-right: 7.62%
	margin-left: 7.62%
.main_order_form input, .main_order_form textarea, .main_order_form select, .main_order_form button
	color: $darkgrey	
.main_order_form input::placeholder 
	color: $darkgrey
.main_order_form button
	display: block
	height: 60px
	width: 87.08%
	background-image: $gradient
	border-width: 0px
	margin: 33px auto
.main_order_form button p
	font-size: 27px
	font-weight: $semibold
	color: #fff
.main_order_form_circle img
	width: 100%
.main_order_form_circle
	width: 28.57%
	position: absolute
	top: -7.14%
	left: -14.28%
.main_head_title span:nth-child(1)
	font-size: 40px
	font-weight: $semibold
.main_head_title span:nth-child(2)
	font-size: 60px
	font-weight: $semibold
	color: $blue
	margin-left: 80px
.main_head_title
	text-align: center
	margin-top: 20px
	margin-bottom: 10px