<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../../assets/css/style.css">
	<link rel="shortcut icon" href="../../../assets/img/static/favicon.png" type="image/png">
</head>
<body>
	<div class="header_wrapper">
		<div class="header">
			<div class="header_nav">
				<span class="logo">
					<a href="/">
						<img src="../../../assets/img/static/logo.png" alt="">
					</a>
				</span>
				<div class="main_nav">
					<nav class="nav">
						<a href="/services" class="nav_item">Услуги</a>
						<a href="/buses" class="nav_item">Автобусы</a>
						<a href="/minivans" class="nav_item">Микроавтобусы</a>
						<a href="/excursions" class="nav_item">Экскурсии</a>
						<a href="/contacts" class="nav_item">Контакты</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="excursions_wrapper">
		<div class="excursions_head">
			<p class="excursions_head_title">Автобусные экскурсии</p>
			<div class="excursions_head_line"></div>
			<p class="excursions_head_text"></p>
		</div>
		<div class="excursions_items">
			<div class="excursions_item">
				<p class="excursions_item_title">Автотур в Санкт-Петербург, Великий Новгород, Тверь</p>
				<p class="excursions_item_text">Обзорная туристическая поездка по трем старинным городам Европейской части России. Интересное и увлекательное путешествие для всех членов вашей семьи, друзей, а так же колег и единомышленников. Мы предлагаем посетить в течении двух суток три старых и очень красивых русских города.</p>
				<div class="excursions_item_detail"><a href="#">Подробнее</a></div>
			</div>
			<div class="excursions_item">
				<p class="excursions_item_title">Индивидуальная экскурсия по ночной Москве</p>
				<p class="excursions_item_text">Увлекательное и незабываемое приключение для гостей столицы и романтичных пар. Поездка по ночной Москве с профессиональным водителем-гидом по самым красочным местам. Вы можете выбрать класс авто, время и любой из 3 обкатанных маршрутов.</p>
				<div class="excursions_item_detail"><a href="#">Подробнее</a></div>
			</div>
			<div class="excursions_item">
				<p class="excursions_item_title">Автобусный тур по "Золотому кольцу России"</p>
				<p class="excursions_item_text">Большое "Золотое кольцо России" это города с огромной историей и множеством уникальных памятников архитиктуры прошлых столетий.Всего тринадцать основных городов входит в этот удивительный список незабываемых мест: Владимир, Боголюбово, Суздаль, Иваново, Кострома, Ярославл, Ростов Великий, Переславль-Залесский, Сергиев Посад, Александров, Углич, Мышкин, Мартыново,Борисоглебский.</p>
				<div class="excursions_item_detail"><a href="#">Подробнее</a></div>
			</div>
			<div class="excursions_item">
				<p class="excursions_item_title">Обзорные экскурсии по Москве</p>
				<p class="excursions_item_text">20 увлекательных обзорных экскурсий по Москве     </p>
				<div class="excursions_item_detail"><a href="#">Подробнее</a></div>
			</div>
		</div>
	</div>
	<div class="footer_wrapper">
		<div class="footer">
			<p>© Copyright, 2015 ТК "ТриБас" - Все права защищены.
			</p>
			<p>
			При использовании материалов с сайта ссылка на источник обязательна.
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>