<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php echo $title; ?></title>
	<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/js/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/js/slick/slick-theme.css">
	<link rel="shortcut icon" href="../../../favicon.png" type="image/png">
</head>
<body>
	<div class="header_wrapper">
		<div class="phone_number"><p>8 495 798 90 08</p></div>
		<div class="header">
			<div class="header_nav">
				<span class="logo">
					<a href="/">
						<img src="/assets/img/logo.png" alt="">
					</a>
				</span>
				<div class="main_nav">
					<nav class="nav">
						<div class="nav_item">
							<a href="/services" >Услуги</a>
							<div class="subnav">
								<a href="#">Автобус на свадьбу</a>
								<a href="#">Автобус в аэропорт</a>
								<a href="#">Автобус межгород</a>
								<a href="#">Срочный заказ автобуса</a>
								<a href="#">Поездка до границы Украины и обратно</a>
								<a href="#">Список документов для заказных автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/buses" class="">Автобусы</a>
							<div class="subnav">
								<a href="#">Заказ автобуса 28 мест</a>
								<a href="#">Заказ автобуса 30,32 места</a>
								<a href="#">Заказ автобуса 42-45 мест</a>
								<a href="#">Заказ автобуса 50 мест</a>
								<a href="#">Заказ автобуса 54-59 мест</a>
								<a href="#">Заказ автобуса 74 места</a>
								<a href="#">Каталог автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/minivans" class="">Микроавтобусы</a>
							<div class="subnav">
								<a href="#">Заказ микроавтобуса 7-8 мест</a>
								<a href="#">Заказ микроавтобуса 10-12 мест</a>
								<a href="#">Заказ микроавтобуса 18-20 мест</a>
								<a href="#">Заказ микроавтобуса 26 мест</a>
								<a href="#">Минивэн 6 мест</a>
							</div>
						</div>
						<div class="nav_item">	
							<a href="/excursions" class="">Экскурсии</a>
							<div class="subnav">
								<a href="#">Обзорные экскурсии по Москве</a>
								<a href="#">Индивидуальная экскурсия по ночной Москве</a>
								<a href="#">Автотур в Санкт-Петербург, Великий Новгород, Тверь</a>
								<a href="#">Автобусный тур по "Золотому кольцу России"</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/contacts" class="">Контакты</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="moscow_head">
			<p class="moscow_head_title">20 увлекательных обзорных экскурсий по Москве</p>
			<div class="main_line"></div>
		</div>
		<div class="moscow_info_items">
			<div class="moscow_info_item">
				<div class="moscow_info_item_img"><img src="/assets/img/excursions/moscow/m1.png" alt=""></div>
				<div class="moscow_info_item_text">
					<p class="moscow_info_item_title">Группы</p>
					<p class="moscow_info_item_content">Мы можем проводить интересные и позновательные экскурсии на индивидуальном уровне от 1 до 8 человек, а так же и для больших групп от 20 до 74 человек. К вашим услугам большой парк комфортабельных минивэнов, микроавтобусов и автобусов.</p>
				</div>
			</div>
			<div class="moscow_info_item">
				<div class="moscow_info_item_img"><img src="/assets/img/excursions/moscow/m2.png" alt=""></div>
				<div class="moscow_info_item_text">
					<p class="moscow_info_item_title">Время</p>
					<p class="moscow_info_item_content">В будние дни осмотр достопримечательностей столицы лучше проводить после утреннего трафика с 10:00 и до 17:00. Экскурсии по ночной Москве проводятся с 22:00 до 3:00. Все обзорки делятся на две категории №1 "Экспресс" 1,5 -3 часа без обеда, №2 Экспресс-ланч" 3 -4 часа с обедом в кафе или плавучем ресторане на ваш выбор.</p>
				</div>
			</div>
			<div class="moscow_info_item">
				<div class="moscow_info_item_img"><img src="/assets/img/excursions/moscow/m3.png" alt=""></div>
				<div class="moscow_info_item_text">
					<p class="moscow_info_item_title">Экскурсии</p>
					<p class="moscow_info_item_content">Обзорные экскурсии по столице дадут вам возможность увидеть с достаточно близкого расстояния:Московский Кремль,Храм Христа Спасителя, Ленинский и Кутузовский проспекты, небоскребы Москва-Сити, великолепный архитектурный ансамбль гостиницы Украина, памятник Петру I на Москве реке,;дом Правительства Российской Федерации, Садовое и Бульварное кольцо, Новый и Старый Арбат, Театральная площадь с Большим и Малым театрами, Лубянка (здание ФСБ), часовня Серафима Саровского, храм иконы Тихвинской Божией Матери, ВДНХ.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_wrapper">
		<div class="footer">
			<p>© Copyright, 2015 ТК "ТриБас" - Все права защищены.
			</p>
			<p>
			При использовании материалов с сайта ссылка на источник обязательна.
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../../../assets/js/slick/slick.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>