* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh; }

.header, .main_wrapper, .footer {
  margin: 0px 15% 0px 15%; }

.header {
  height: 75px;
  margin-top: 7.5px; }

.logo_wrapper {
  height: 100%;
  text-align: center;
  border-right: 2px solid #cb3131;
  border-top: 2px solid #cb3131;
  border-left: 2px solid #cb3131; }

.logo {
  width: 150px;
  height: 100%;
  margin-right: auto;
  margin: 0px auto 7.5px auto; }

.logo img {
  height: 60px;
  float: left;
  margin-top: 7.5px;
  margin-bottom: 7.5px; }

.logo p {
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px; }

.logo p span {
  font-size: 14px; }

.main {
  border: 2px solid #cb3131;
  width: 100%;
  position: relative;
  height: 80vh; }

.main_nav {
  display: inline-block;
  border-right: 2px solid #e5e5e5;
  height: 100%;
  position: relative;
  float: left;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px; }

.nav_item {
  width: 100px;
  height: 100px;
  display: block;
  background: #b5eae0;
  margin: 16px auto;
  border-radius: 5px; }

.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar {
  background-color: #cb3131; }

.mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
  background-color: #e5e5e5; }

#mCSB_2_container {
  margin-right: 10px; }

.main_content {
  display: block;
  position: relative;
  height: 100%;
  padding: 5px 10px;
  max-width: 100%;
  margin-left: 150px; }

.footer {
  border-left: 2px solid #cb3131;
  border-right: 2px solid #cb3131;
  border-bottom: 2px solid #cb3131;
  height: 50px; }
ya ebal v rot c
