<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php echo $title; ?></title>
	<link rel="stylesheet" href="../../../assets/css/style.css">
</head>
<body>
	<div class="header_wrapper">
		<div class="phone_number"><p>8 495 798 90 08</p></div>
		<div class="header">
			<div class="header_nav">
				<span class="logo">
					<a href="/">
						<img src="/assets/img/logo.png" alt="">
					</a>
				</span>
				<div class="main_nav">
					<nav class="nav">
						<div class="nav_item">
							<a href="/services" >Услуги</a>
							<div class="subnav">
								<a href="#">Автобус на свадьбу</a>
								<a href="#">Автобус в аэропорт</a>
								<a href="#">Автобус межгород</a>
								<a href="#">Срочный заказ автобуса</a>
								<a href="#">Поездка до границы Украины и обратно</a>
								<a href="#">Список документов для заказных автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/buses" class="">Автобусы</a>
							<div class="subnav">
								<a href="#">Заказ автобуса 28 мест</a>
								<a href="#">Заказ автобуса 30,32 места</a>
								<a href="#">Заказ автобуса 42-45 мест</a>
								<a href="#">Заказ автобуса 50 мест</a>
								<a href="#">Заказ автобуса 54-59 мест</a>
								<a href="#">Заказ автобуса 74 места</a>
								<a href="#">Каталог автобусов</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/minivans" class="">Микроавтобусы</a>
							<div class="subnav">
								<a href="#">Заказ микроавтобуса 7-8 мест</a>
								<a href="#">Заказ микроавтобуса 10-12 мест</a>
								<a href="#">Заказ микроавтобуса 18-20 мест</a>
								<a href="#">Заказ микроавтобуса 26 мест</a>
								<a href="#">Минивэн 6 мест</a>
							</div>
						</div>
						<div class="nav_item">	
							<a href="/excursions" class="">Экскурсии</a>
							<div class="subnav">
								<a href="#">Обзорные экскурсии по Москве</a>
								<a href="#">Индивидуальная экскурсия по ночной Москве</a>
								<a href="#">Автотур в Санкт-Петербург, Великий Новгород, Тверь</a>
								<a href="#">Автобусный тур по "Золотому кольцу России"</a>
							</div>
						</div>
						<div class="nav_item">
							<a href="/contacts" class="">Контакты</a>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="buses_main">
			<div class="buses_main_head">
				<div class="buses_main_head_img bus_one"><img src="/assets/img/buses/bus_head_one.png" alt=""></div>
				<div class="buses_main_head_title"><p>Аренда и заказ автобуса в Москве	</p>
				<div class="buses_main_head_line"></div></div>
				<div class="buses_main_head_img bus_two"><img src="/assets/img/buses/bus_head_two.png" alt=""></div>
			</div>
		</div>
		<div class="text_wrapper">
			<p class="text_title">Заказ автобусов - тарификация</p>
			<div class="main_line"></div>
			<div class="text">
				<p>(подробная информация по тарифам на страницах сайта)</p>
				<ol>
					<li><span>28 мест - 5600 руб</span> (4+2 часа) далее 900 руб/час за МКАД  от 35 руб/км.</li>
					<li><span>31 место - 7200 руб</span> (4+2 часа) далее 1200 руб/час за МКАД от 45 руб/км.</li>
					<li><span>42 места - 7800 руб</span> (4+2 часа) далее 1300 руб/час за МКАД  от 50 руб/км.</li>
					<li><span>50 мест - 7800 руб</span> (4+2 часа) далее 1300 руб/час за МКАД  от 50 руб/км.</li>
					<li><span>54-59 мест - 8400 руб</span> (4+2 часа) далее 1400 руб/час за МКАД от 55 руб/км.</li>
					<li><span>63 места - 8400 руб</span> (4+2 часа) далее 1400 руб/час за МКАД от 50 руб/км.</li>
				</ol>
				<p><span>Километраж за МКАД до 10 км не оплачивается <br>Подача за МКАД бесплатно.</span></p>
				<p>Такую услугу, как заказ автобуса в Москве, компания «ТриБас-М» предлагает своим клиентам уже более трех лет. В нашем парке достаточно машин разной вместимости. Мы располагаем автобусами Hyndai Counti, Hyundai Universe, Higer, Yutong, Mercedes-Benz, Golden Dragon,  вместимость которых составляет, соответственно от 28 до 63 мест.</p>
				<p>Следует заметить, что автобусы, которые мы предлагаем по действительно демократичным расценкам, проходят своевременно сервисное обслуживание и находятся в отличном техническом состоянии. Подача к месту посадки пассажиров происходит оперативно, так как наши опытные водители, отлично ориентирующиеся в столице и ее окрестностях. Необходимо также отметить, что для заказчиков у нас предусмотрена система скидок, делающая наше предложение еще более привлекательным. Компания «ТриБас-М» всегда поддерживает свои автобусы в превосходном техническом состоянии.</p>
			</div>
		</div>
	</div>
	<div class="footer_wrapper">
		<div class="footer">
			<p>© Copyright, 2015 ТК "ТриБас" - Все права защищены.
			</p>
			<p>
			При использовании материалов с сайта ссылка на источник обязательна.
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>