<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php echo $title; ?></title>
	<link rel="stylesheet" href="../../../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/js/slick/slick.css"/>
</head>
<body>
	<div class="header_wrapper">
		<div class="header">
			<div class="header_nav">
				<span class="logo">
					<a href="/">
						<img src="/assets/img/logo.png" alt="">
					</a>
				</span>
				<div class="main_nav">
					<nav class="nav">
						<a href="/services" class="nav_item">Услуги</a>
						<a href="/buses" class="nav_item">Автобусы</a>
						<a href="/minivans" class="nav_item">Микроавтобусы</a>
						<a href="/excursions" class="nav_item">Экскурсии</a>
						<a href="/contacts" class="nav_item">Контакты</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="main_head">
			<div class="main_head_title">
				<span>Заказ автобуса с водителем в Москве</span>
				<span>8 495 798 90 08</span>
			</div>
			<div class="main_order">
				<img src="/assets/img/main/bcg_main2.png" alt="">
				<div class="main_order_form">
					<div class="order_form_title"><p>Заказ ОN-LINE</p></div>
					<form action="" method="POST">
						<div class="forma_group"><input type="text" placeholder="Дата и время подачи" name=""></div>
						<div class="forma_group"><input type="text" placeholder="Адрес подачи" name=""></div>
						<div class="forma_group"><input type="text" placeholder="Адрес назначения" name=""></div>
						<div class="forma_group"><input type="text" placeholder="Ваш телефон или email" name=""></div>
						<div class="forma_group">
							<select name="" id="" >
								<option value="0">---Выбор транспорта---</option>
								<option value="1">6 Мест</option>
								<option value="2">7 Мест</option>
								<option value="3">8 Мест</option>
								<option value="4">9 Мест</option>
								<option value="5">10 Мест</option>
								<option value="6">11 Мест</option>
								<option value="7">18 Мест</option>
								<option value="8">20 Мест</option>
								<option value="9">24 Места</option>
								<option value="10">28 Мест</option>
								<option value="11">31 Место</option>
								<option value="12">42 Мест</option>
								<option value="13">50 Мест</option>
								<option value="14">55 Мест</option>
							</select></div>
						<div class="forma_group"><input type="text" placeholder="Предложите цену" name=""></div>
						<div class="forma_group"><input type="text" placeholder="Комментарий" name=""></div>
						<button type="submit"><p>Заказать</p></button>
					</form>
					<div class="main_order_form_circle">
						<img src="/assets/img/main/group_comp.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="main_about">
			<p class="main_about_title">"ТриБас-М" обладает большим парком туристических автобусов и микроавтобусов от 6 до 63 мест</p>
			<div class="main_line"></div>
			<div class="main_about_brand">
				<p>Известных мировых брендов:</p>
				<img src="/assets/img/main/brand.png" alt="">
			</div>
		</div>
		<div class="main_services">
			<p class="main_services_title">ТриБас-М - многофункциональный сервис заказа автобусов</p>
			<div class="main_line"></div>
			<div class="main_cervices_wrapper">
				<div class="main_cervices_items">
				<div class="main_cervices_item">
					<img src="/assets/img/main/s1.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Поездки по согласованному маршруту и по фиксированной стоимости</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s2.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Подача за МКАД до 10 км бесплатно</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s3.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Обслуживание свадеб и банкетов</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s4.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Организация экскурсий и туристических поездок</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s5.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Воспользовавшись нашим сервисом, вы можете найти ближайший автобус по доступной цене</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s6.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Встреча в аэропорту с отслеживанием авиарейса</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s7.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Обеспечение пассажирским транспортом корпоративных мероприятий от 500 человек</p>
					</div>
				</div>
				<div class="main_cervices_item">
					<img src="/assets/img/main/s8.png" alt="" class="main_cervices_item_img">
					<div class="main_cervices_item_text">
						<p>Оптимизация маршрутов с предоставлением скидки</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="main_courusel">
			<div class="main_courusel_item">
				<div class="main_courusel_item_img" style=" background-image: url(/assets/img/main/28_mest.png); ">
					<div class="main_courusel_item_text">
						<p></p>
					</div>
				</div>
			</div>
			<div class="main_courusel_item">
				<div class="main_courusel_item_img" style=" background-image: url(/assets/img/main/28_mest.png); ">
					<div class="main_courusel_item_text">
						<p></p>
					</div>
				</div>
			</div><div class="main_courusel_item">
				<div class="main_courusel_item_img" style=" background-image: url(/assets/img/main/28_mest.png); ">
					<div class="main_courusel_item_text">
						<p></p>
					</div>
				</div>
			</div><div class="main_courusel_item">
				<div class="main_courusel_item_img" style=" background-image: url(/assets/img/main/28_mest.png); ">
					<div class="main_courusel_item_text">
						<p></p>
					</div>
				</div>
			</div><div class="main_courusel_item">
				<div class="main_courusel_item_img" style=" background-image: url(/assets/img/main/28_mest.png); ">
					<div class="main_courusel_item_text">
						<p></p>
					</div>
				</div>
			</div><div class="main_courusel_item">
				<div class="main_courusel_item_img" style=" background-image: url(/assets/img/main/28_mest.png); ">
					<div class="main_courusel_item_text">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_wrapper">
		<div class="footer">
			<p>© Copyright, 2015 ТК "ТриБас" - Все права защищены.
			</p>
			<p>
			При использовании материалов с сайта ссылка на источник обязательна.
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../../assets/js/slick/slick.min.js"></script>
<script src="../../../assets/js/script.js"></script>
</body>
</html>